body {
  background-color: var(--background-main);
  font-family: 'Montserrat', 'Inter', 'Roboto', 'Seymour One', sans-serif;
  color: var(--text-dark);
  letter-spacing: 0.04em;
  font-size: 14px;
}
