body {
  background-color: var(--background-main);
  font-family: 'Montserrat', 'Seymour One', 'Roboto', sans-serif;
  color: var(--text-dark);
  letter-spacing: 0.04em;
  font-size: 14px;
}

* {
  cursor: url(../images/images/icon/cow.png), auto;
}

.open-mobile-menu-btn,
.button__locations,
.button__franchise {
  &:hover,
  &:focus {
    cursor: url(../images/images/icon/cow.png), auto;
  }
}
