@mixin centered-flex($type: flex) {
  display: $type;
  align-items: center;
  justify-content: center;
}

// for paragraphs
@mixin font($line-height: 27px, $font-weight: 400, $font-size: 14px, $letter-spacing: 0.04em) {
  line-height: calc($line-height / $font-size);
  font-weight: $font-weight;
  font-size: $font-size;
  letter-spacing: $letter-spacing;
}

// for headings
@mixin fontHeading(
  $font-family: "Seymour One",
  $line-height: 45px,
  $font-weight: 400,
  $font-size: 36px,
  $letter-spacing: 0.06em,
  $text-align: center,
  $text-transform: uppercase
) {
  font-family: $font-family;
  line-height: calc($line-height / $font-size);
  font-weight: $font-weight;
  font-size: $font-size;
  letter-spacing: $letter-spacing;
  text-align: $text-align;
  text-transform: $text-transform;
}

// add second heading
@mixin fontHeadingSmall(
  $font-family: "Montserrat",
  $line-height: 37px,
  $font-weight: 800,
  $font-size: 30px,
  $letter-spacing: 0.04em,
  $text-align: center,
  $text-transform: uppercase
) {
  font-family: $font-family;
  line-height: calc($line-height / $font-size);
  font-weight: $font-weight;
  font-size: $font-size;
  letter-spacing: $letter-spacing;
  text-align: $text-align;
  text-transform: $text-transform;
}

// for buttons
@mixin button($border-radius: 10px, $font-weight: 600, $font-size: 14px, $line-height: 18px) {
  border-radius: $border-radius;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: calc($line-height / $font-size);
}
