<section class="section about" id="how-its-made">
  <div class="container cow">
    <p class="about__subtitle">tradition and love</p>
    <h2 class="about__heading">how it’s made?</h2>
    <div class="about__info">
      <div class="cow-pic">
        <picture>
          <source srcset="
              /src/images/images/about/cow-desctop.webp    1x,
              /src/images/images/about/cow-desctop@2x.webp 2x
            " media="(min-width:1200px)" type="image/webp" />
          <source srcset="
              /src/images/images/about/cow-desctop.png    1x,
              /src/images/images/about/cow-desctop@2x.png 2x
            " media="(min-width:1200px)" type="image/png" />
          <source srcset="
              /src/images/images/about/cow-tablet.webp    1x,
              /src/images/images/about/cow-tablet@2x.webp 2x
            " media="(min-width:768px)" type="image/webp" />
          <source srcset="
              /src/images/images/about/cow-tablet.png    1x,
              /src/images/images/about/cow-tablet@2x.png 2x
            " media="(min-width:768px)" type="image/png" />
          <source srcset="
              /src/images/images/about/cow-smart.webp    1x,
              /src/images/images/about/cow-smart@2x.webp 2x
            " media="(max-width:768px)" type="image/webp" />
          <source srcset="
              /src/images/images/about/cow-smart.png    1x,
              /src/images/images/about/cow-smart@2x.png 2x
            " media="(max-width:768px)" type="image/png" />
          <img class="about__img" src="/src/images/images/about/cow-smart.png  " alt="cow eats grass" />
        </picture>
      </div>
      <div class="about__text">
        <p class="about__text-one">
          Ice is a place where you will become not only a little happier, but
          also healthier. Health is the main value for us, and we follow it when
          creating our handmade desserts.
        </p>
        <p class="about__text-two">
          We use traditional recipes and 100% natural ingredients. Our products
          are so natural that they can be given to children from the age of
          three years. Sweets lovers can expect 55 types of ice cream, 15 types
          of coffee and 23 milkshakes.
        </p>
        <p class="about__text-three">
          This is enough to choose ice cream and coffee for any mood!
        </p>

        <!--<div class="cow-button">-->
        <button type="button" class="button__read-more cow-button" data-modal-open>
          Read more
          <svg aria-label="angle bracket" class="read-more_icon" width="12px" height="12px">
            <use href="./images/sprite.svg#icon-short-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>