<div class="backdrop-about-modal js-modal-about">
  <div class="about-modal">
    <button id="pauseYoutube" type="button" class="about-modal__close-btn js-modal-about-close">
      <svg class="about-modal__close-icon">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <form class="about-modal-form" autocomplete="off">
      <p class="about-modal-form__title">How it’s made?</p>
    </form>
    <!-- <iframe class="about-modal-form__video"
      src="https://www.youtube.com/embed/Q5J2Sv1E3kk?autoplay=1&loop=0&enablejsapi=1" frameborder="0" id="Youtube">
    </iframe> -->
    <iframe class="about-modal-form__video"
      src="https://www.youtube.com/embed/Q5J2Sv1E3kk?autoplay=1&loop=0&enablejsapi=1"
      title="Don't Call It Ice Cream: How Italian Gelato Artigianale Is Made | Food Secrets Ep. 13" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; 
      gyroscope; picture-in-picture" allowfullscreen id="Youtube"></iframe>
    <p class="about-modal-form__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </p>
  </div>
</div>