<section class="advantages-section section">
   <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages-list">
        <li class="advantages-list-item">
            <div class="advantages-list-wrapper">
            <h3 class="advantages-list-title">721</h3>
            <p class="advantages-list-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </div>
        </li>
        <li class="advantages-list-item">
            <div class="advantages-list-wrapper">
            <h3 class="advantages-list-title title-two">16kg</h3>
            <p class="advantages-list-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </div>
        </li>
        <li class="advantages-list-item">
            <div class="advantages-list-wrapper">
            <h3 class="advantages-list-title title-three">84</h3>
            <p class="advantages-list-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </div>
        </li>
    </ul>
   </div>
</section>