<div class="backdrop is-hidden" data-modal data-modal-menu>
    <div class="modal">
        <button class="close-button data-modal-close" data-modal-menu-close type="button">
            <svg class="close-button__icon" width="20" height="20">
                <use href="./images/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <form class="order-form" name="order" autocomplete="on">
            <p class="order-form__title">Buy now</p>
            <div class="order-form__menu">
                <label>
                    <input class="order-form__check visually-hidden" type="checkbox" name="ice-cream" id="ice-cream">
                    <span class="order-form__item order-form__item--one">
                        <span class="order-form__product order-form__product--cream">
                            <span class="order-form__product-name">ice cream</span>
                        </span>
                    </span>

                </label>
                <label>
                    <input class="order-form__check visually-hidden" type="checkbox" name="ice-coffee" id="ice-coffee">
                    <span class="order-form__item order-form__item--two">
                        <span class="order-form__product order-form__product--coffee">
                            <span class="order-form__product-name">ice coffee</span>
                        </span>
                    </span>

                </label>
                <label>
                    <input class="order-form__check visually-hidden" type="checkbox" name="milkshake" id="milkshake">
                    <span class="order-form__item order-form__item--three">
                        <span class="order-form__product order-form__product--shake">
                            <span class="order-form__product-name">milkshake</span>
                        </span>
                    </span>

                </label>
            </div>
            <input class="order-form__input-field" type="text" name="client_name" id="client_name" placeholder="Name"
                required minlength="3" pattern="[a-zA-Z-а-яА-ЯіІїЇ]+">
            <input class="order-form__input-field" type="text" name="client_phone" id="client_phone" required
                pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}" placeholder="Phone">
            <textarea class="order-form__comment-field" name="client_comment" id="client_comment" rows="10"
                placeholder="Comment"></textarea>
            <button class="submit-button" type="submit">Submit</button>
        </form>
    </div>
</div>