<section class="contacts section">
  <div class="container contacts-container">
    <div class="shops">
      <h2 class="container-contacts-title visually-hidden">Contacts</h2>
      <div class="address-container">
        <address class="address">
          <p class="contact__name">CAFE</p>
          <p class="contact__place">Chicago</p>
          <a
            class="contact__link"
            href="https://www.google.com/maps/place/10340+Ridgeland+Ave,+Chicago+Ridge,+IL+60415,+США/@41.7034016,-87.7819292,17z/data=!3m1!4b1!4m5!3m4!1s0x880e39ad302b2c19:0xc808e9b14d04eb2b!8m2!3d41.7034016!4d-87.7797405"
            target="_blank"
            rel="noopener noreferrer nofollow"
            >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
          >
        </address>

        <ul class="schedule">
          <li class="schedule__day">Monday - Friday</li>
          <li class="schedule__time">06:00 AM - 10:00 PM</li>
          <li class="schedule__day">Saturday - Sunday</li>
          <li class="schedule__time">08:00 AM - 16:00 PM</li>
        </ul>
        <ul class="contact-list-cont">
          <li class="contact-list-cont__item">
            <a class="contact-list-cont__link" href="tel:+61(0) 383 766 284 "
              >+61(0) 383 766 284
            </a>
          </li>
          <li class="contact-list-cont__item">
            <a class="contact-list-cont__link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </div>
      <div class="address-container">
        <address class="address">
          <p class="contact__name">FOOD TRUCK</p>
          <p class="contact__place">Los Angeles</p>
          <a
            class="contact__link"
            href="https://www.google.com/maps/place/1003+Manhattan+Ave,+Manhattan+Beach,+CA+90266,+США/@33.8835263,-118.4125173,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2b3eca6743829:0x98448969b9b4373d!8m2!3d33.8835263!4d-118.4103286"
            target="_blank"
            rel="noopener noreferrer nofollow"
            >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
          >
        </address>

        <ul class="schedule">
          <li class="schedule__day">Monday - Friday</li>
          <li class="schedule__time">06:00 AM - 10:00 PM</li>
          <li class="schedule__day">Saturday - Sunday</li>
          <li class="schedule__time">08:00 AM - 16:00 PM</li>
        </ul>
        <ul class="contact-list-cont">
          <li class="contact-list-cont__item">
            <a class="contact-list-cont__link" href="tel:+61(0) 383 766 284 "
              >+61(0) 383 766 284
            </a>
          </li>
          <li class="contact-list-cont__item">
            <a class="contact-list-cont__link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </div>
      <div class="address-container">
        <address class="address">
          <p class="contact__name">CAFE</p>
          <p class="contact__place">New York</p>
          <a
            class="contact__link"
            href="https://www.google.com/maps/place/726+Sterling+Pl,+Brooklyn,+NY+11216,+США/@40.6726938,-73.9569227,17z/data=!3m1!4b1!4m5!3m4!1s0x89c25b9e1735b38f:0xb5fe454b88e9c2c0!8m2!3d40.6726938!4d-73.954734"
            target="_blank"
            rel="noopener noreferrer nofollow"
            >726 Sterling Pl, Brooklyn, NY 11222, USA</a
          >
        </address>

        <ul class="schedule">
          <li class="schedule__day">Monday - Friday</li>
          <li class="schedule__time">06:00 AM - 10:00 PM</li>
          <li class="schedule__day">Saturday - Sunday</li>
          <li class="schedule__time">08:00 AM - 16:00 PM</li>
        </ul>
        <ul class="contact-list-cont">
          <li class="contact-list-cont__item">
            <a class="contact-list-cont__link" href="tel:+61(0) 383 766 284 "
              >+61(0) 383 766 284
            </a>
          </li>
          <li class="contact-list-cont__item">
            <a class="contact-list-cont__link" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </div>
    </div>

    <ul class="contact-btn">
      <li class="contact-btn__item">
        <button type="button" class="button__locations button">
          Our Locations
          <svg class="contact-btn-icon">
            <use href="../src/images/sprite.svg#icon-short-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="contact-btn__item">
        <button type="button" class="button__franchise button">
          Franchise
          <svg class="contact-btn-icon">
            <use href="../src/images/sprite.svg#icon-short-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
