<footer class="page-footer">
	<div class="page-footer__container container">
		<div class="page-footer__wrapper-title">
			<p class="page-footer__title page-footer__title--dubbed">Homemade ice cream made</p>
			<p class="page-footer__title page-footer__title--dubbed-passion">With passion</p>
		</div>

		<div class="page-footer__wrapper">
			<ul class="social-list">
				<li class="social-list__item">
					<a class="social-list__link" href="https://www.github.com" aria-label="github" target="_blank"
						rel="nofollow noopener noreferrer">
						<svg class="icon-github">
							<use href="./images/sprite.svg#icon-github"></use>
						</svg>
					</a>
				</li>

				<li class="social-list__item">
					<a class="social-list__link" href="https://www.telegram.com" aria-label="telegram" target="_blank"
						rel="nofollow noopener noreferrer">
						<svg class="icon-telegram">
							<use href="./images/sprite.svg#icon-telegram"></use>
						</svg>
					</a>
				</li>

				<li class="social-list__item">
					<a class="social-list__link" href="https://www.facebook.com" aria-label="facebook" target="_blank"
						rel="nofollow noopener noreferrer">
						<svg class="icon-facebook">
							<use href="./images/sprite.svg#icon-facebook"></use>
						</svg>
					</a>
				</li>
			</ul>

			<div class="page-footer__contact">
				<span class="page-footer__text">
					Feel free to contact
				</span>
				<a class="button-tel" href="tel:+61(0)383766284">+61 (0) 383 766 284</a>
			</div>
		</div>

	</div>

	<div class="page-footer__copyright">
		<p class="page-footer__copyright-text">&copy; 2022 - IceCream.</p>
		<p class="page-footer__copyright-text">All Rights Reserved.</p>
	</div>
</footer>