<div class="gallery-reviews-background">
  <section class="section gallery">
    <div class="container gallery-container">
      <h2 class="visually-hidden">Ice Cream Gallery</h2>
      <ul class="single-item gallery__list">
        <li class="gallery__item">
          <picture>
            <source
              srcset="
                ./images/images/gallery/desktop/ice_cream_desktop_1.webp    1x,
                ./images/images/gallery/desktop/ice_cream_desktop_1@2x.webp 2x
              "
              media="(min-width: 1200px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/images/gallery/desktop/ice_cream_desktop_1.jpg    1x,
                ./images/images/gallery/desktop/ice_cream_desktop_1@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                ./images/images/gallery/tablet/ice_cream_tablet_1.webp    1x,
                ./images/images/gallery/tablet/ice_cream_tablet_1@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/images/gallery/tablet/ice_cream_tablet_1.jpg    1x,
                ./images/images/gallery/tablet/ice_cream_tablet_1@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./images/images/gallery/mobile/ice_cream_mobile_1.webp    1x,
                ./images/images/gallery/mobile/ice_cream_mobile_1@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/images/gallery/mobile/ice_cream_mobile_1.jpg    1x,
                ./images/images/gallery/mobile/ice_cream_mobile_1@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />

            <img
              src="./images/images/gallery/mobile/ice_cream_mobile_1.jpg"
              alt="Blueberry ice cream"
              class="gallery__img"
              loading="lazy"
            />
          </picture>
        </li>

        <li class="gallery__item">
          <picture>
            <source
              srcset="
                ./images/images/gallery/desktop/ice_cream_desktop_2.webp    1x,
                ./images/images/gallery/desktop/ice_cream_desktop_2@2x.webp 2x
              "
              media="(min-width: 1200px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/images/gallery/desktop/ice_cream_desktop_2.jpg    1x,
                ./images/images/gallery/desktop/ice_cream_desktop_2@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                ./images/images/gallery/tablet/ice_cream_tablet_2.webp    1x,
                ./images/images/gallery/tablet/ice_cream_tablet_2@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/images/gallery/tablet/ice_cream_tablet_2.jpg    1x,
                ./images/images/gallery/tablet/ice_cream_tablet_2@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./images/images/gallery/mobile/ice_cream_mobile_2.webp    1x,
                ./images/images/gallery/mobile/ice_cream_mobile_2@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/images/gallery/mobile/ice_cream_mobile_2.jpg    1x,
                ./images/images/gallery/mobile/ice_cream_mobile_2@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />

            <img
              src="./images/images/gallery/mobile/ice_cream_mobile_2.jpg"
              alt="Ice cream on a white background"
              class="gallery__img"
              loading="lazy"
            />
          </picture>
        </li>

        <li class="gallery__item">
          <picture>
            <source
              srcset="
                ./images/images/gallery/desktop/ice_cream_desktop_3.webp    1x,
                ./images/images/gallery/desktop/ice_cream_desktop_3@2x.webp 2x
              "
              media="(min-width: 1200px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/images/gallery/desktop/ice_cream_desktop_3.jpg    1x,
                ./images/images/gallery/desktop/ice_cream_desktop_3@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                ./images/images/gallery/tablet/ice_cream_tablet_3.webp    1x,
                ./images/images/gallery/tablet/ice_cream_tablet_3@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/images/gallery/tablet/ice_cream_tablet_3.jpg    1x,
                ./images/images/gallery/tablet/ice_cream_tablet_3@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./images/images/gallery/mobile/ice_cream_mobile_3.webp    1x,
                ./images/images/gallery/mobile/ice_cream_mobile_3@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/images/gallery/mobile/ice_cream_mobile_3.jpg    1x,
                ./images/images/gallery/mobile/ice_cream_mobile_3@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />

            <img
              src="./images/images/gallery/mobile/ice_cream_mobile_3.jpg"
              alt="Scoops of ice cream in a plate"
              class="gallery__img"
              loading="lazy"
            />
          </picture>
        </li>

        <li class="gallery__item">
          <picture>
            <source
              srcset="
                ./images/images/gallery/desktop/ice_cream_desktop_4.webp    1x,
                ./images/images/gallery/desktop/ice_cream_desktop_4@2x.webp 2x
              "
              media="(min-width: 1200px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/images/gallery/desktop/ice_cream_desktop_4.jpg    1x,
                ./images/images/gallery/desktop/ice_cream_desktop_4@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                ./images/images/gallery/tablet/ice_cream_tablet_4.webp    1x,
                ./images/images/gallery/tablet/ice_cream_tablet_4@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/images/gallery/tablet/ice_cream_tablet_4.jpg    1x,
                ./images/images/gallery/tablet/ice_cream_tablet_4@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./images/images/gallery/mobile/ice_cream_mobile_4.webp    1x,
                ./images/images/gallery/mobile/ice_cream_mobile_4@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/images/gallery/mobile/ice_cream_mobile_4.jpg    1x,
                ./images/images/gallery/mobile/ice_cream_mobile_4@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />

            <img
              src="./images/images/gallery/mobile/ice_cream_mobile_4.jpg"
              alt="Ice cream with strawberries"
              class="gallery__img"
              loading="lazy"
            />
          </picture>
        </li>

        <li class="gallery__item">
          <picture>
            <source
              srcset="
                ./images/images/gallery/desktop/ice_cream_desktop_5.webp    1x,
                ./images/images/gallery/desktop/ice_cream_desktop_5@2x.webp 2x
              "
              media="(min-width: 1200px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/images/gallery/desktop/ice_cream_desktop_5.jpg    1x,
                ./images/images/gallery/desktop/ice_cream_desktop_5@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                ./images/images/gallery/tablet/ice_cream_tablet_5.webp    1x,
                ./images/images/gallery/tablet/ice_cream_tablet_5@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/images/gallery/tablet/ice_cream_tablet_5.jpg    1x,
                ./images/images/gallery/tablet/ice_cream_tablet_5@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./images/images/gallery/mobile/ice_cream_mobile_5.webp    1x,
                ./images/images/gallery/mobile/ice_cream_mobile_5@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/images/gallery/mobile/ice_cream_mobile_5.jpg    1x,
                ./images/images/gallery/mobile/ice_cream_mobile_5@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />

            <img
              src="./images/images/gallery/mobile/ice_cream_mobile_5.jpg"
              alt="Boulogne and ice cream"
              class="gallery__img"
              loading="lazy"
            />
          </picture>
        </li>

        <li class="gallery__item">
          <picture>
            <source
              srcset="
                ./images/images/gallery/desktop/ice_cream_desktop_6.webp    1x,
                ./images/images/gallery/desktop/ice_cream_desktop_6@2x.webp 2x
              "
              media="(min-width: 1200px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/images/gallery/desktop/ice_cream_desktop_6.jpg    1x,
                ./images/images/gallery/desktop/ice_cream_desktop_6@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />

            <source
              srcset="
                ./images/images/gallery/tablet/ice_cream_tablet_6.webp    1x,
                ./images/images/gallery/tablet/ice_cream_tablet_6@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/images/gallery/tablet/ice_cream_tablet_6.jpg    1x,
                ./images/images/gallery/tablet/ice_cream_tablet_6@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />

            <source
              srcset="
                ./images/images/gallery/mobile/ice_cream_mobile_6.webp    1x,
                ./images/images/gallery/mobile/ice_cream_mobile_6@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/images/gallery/mobile/ice_cream_mobile_6.jpg    1x,
                ./images/images/gallery/mobile/ice_cream_mobile_6@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />

            <img
              src="./images/images/gallery/mobile/ice_cream_mobile_6.jpg"
              alt="Three ice cream cones on a plate"
              class="gallery__img"
              loading="lazy"
            />
          </picture>
        </li>
      </ul>
    </div>
  </section>

  <!-- Reviess section -->

  <section class="reviews">
    <h2 class="reviews__title visually-hidden">Customer Reviews</h2>
    <div class="container">
      <ul class="slick-js">
        <li>
          <picture>
            <source
              srcset="
                ./images/images/reviews/photo1-desctop.webp    1x,
                ./images/images/reviews/photo1-desctop@2x.webp 2x
              "
              media="(min-width: 1200px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/images/reviews/photo1-desctop.png    1x,
                ./images/images/reviews/photo1-desctop@2x.png 2x
              "
              media="(min-width: 1200px)"
              type="image/png"
            />

            <source
              srcset="
                ./images/images/reviews/photo1-desctop.webp    1x,
                ./images/images/reviews/photo1-desctop@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/images/reviews/photo1-desctop.png    1x,
                ./images/images/reviews/photo1-desctop@2x.png 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />

            <source
              srcset="
                ./images/images/reviews/photo1-desctop.webp    1x,
                ./images/images/reviews/photo1-desctop@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/images/reviews/photo1-desctop.png    1x,
                ./images/images/reviews/photo1-desctop@2x.png 2x
              "
              media="(max-width: 767px)"
              type="image/png"
            />

            <img
              src="./images/images/reviews/photo1-desctop.png"
              alt="Emily photo"
              class="reviews__testimonials-img"
              loading="lazy"
            />
          </picture>

          <p class="reviews__testimonials">
            I love visiting your cafe. You prepare the most delicious ice cream
            in Los Angeles! In addition, you have beautiful serving, cozy
            atmosphere and polite staff.
          </p>
          <p class="reviews__testimonials-name">Emily, Los Angeles</p>
        </li>

        <li>
          <picture>
            <source
              srcset="
                ./images/images/reviews/photo2-desctop.webp    1x,
                ./images/images/reviews/photo2-desctop@2x.webp 2x
              "
              media="(min-width: 1200px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/images/reviews/photo2-desctop.png    1x,
                ./images/images/reviews/photo2-desctop@2x.png 2x
              "
              media="(min-width: 1200px)"
              type="image/png"
            />

            <source
              srcset="
                ./images/images/reviews/photo2-desctop.webp    1x,
                ./images/images/reviews/photo2-desctop@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/images/reviews/photo2-desctop.png    1x,
                ./images/images/reviews/photo2-desctop@2x.png 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />

            <source
              srcset="
                ./images/images/reviews/photo2-desctop.webp    1x,
                ./images/images/reviews/photo2-desctop@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/images/reviews/photo2-desctop.png    1x,
                ./images/images/reviews/photo2-desctop@2x.png 2x
              "
              media="(max-width: 767px)"
              type="image/png"
            />

            <img
              src="./images/images/reviews/photo2-desctop.png"
              alt="Sam photo"
              class="reviews__testimonials-img"
              loading="lazy"
            />
          </picture>

          <p class="reviews__testimonials">
            I love eating popsicles on a hot day. Yours is always delicious. I
            recommend your cafe to everyone I know.
          </p>
          <p class="reviews__testimonials-name">Sam, Los Angeles</p>
        </li>

        <li>
          <picture>
            <source
              srcset="
                ./images/images/reviews/photo3-desctop.webp    1x,
                ./images/images/reviews/photo3-desctop@2x.webp 2x
              "
              media="(min-width: 1200px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/images/reviews/photo3-desctop.png    1x,
                ./images/images/reviews/photo3-desctop@2x.png 2x
              "
              media="(min-width: 1200px)"
              type="image/png"
            />

            <source
              srcset="
                ./images/images/reviews/photo3-desctop.webp    1x,
                ./images/images/reviews/photo3-desctop@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/images/reviews/photo3-desctop.png    1x,
                ./images/images/reviews/photo3-desctop@2x.png 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />

            <source
              srcset="
                ./images/images/reviews/photo3-desctop.webp    1x,
                ./images/images/reviews/photo3-desctop@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/images/reviews/photo3-desctop.png    1x,
                ./images/images/reviews/photo3-desctop@2x.png 2x
              "
              media="(max-width: 767px)"
              type="image/png"
            />

            <img
              src="./images/images/reviews/photo3-desctop.png"
              alt="Diana photo"
              class="reviews__testimonials-img"
              loading="lazy"
            />
          </picture>

          <p class="reviews__testimonials">
            Ice cream is my passion! I love your chocolate hazelnut ice cream!
            And I really like the excellent service - always served politely and
            quickly!
          </p>
          <p class="reviews__testimonials-name">Diana, Chicago</p>
        </li>

        <li>
          <picture>
            <source
              srcset="
                ./images/images/reviews/photo4-desctop.webp    1x,
                ./images/images/reviews/photo4-desctop@2x.webp 2x
              "
              media="(min-width: 1200px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/images/reviews/photo4-desctop.png    1x,
                ./images/images/reviews/photo4-desctop@2x.png 2x
              "
              media="(min-width: 1200px)"
              type="image/png"
            />

            <source
              srcset="
                ./images/images/reviews/photo4-desctop.webp    1x,
                ./images/images/reviews/photo4-desctop@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/images/reviews/photo4-desctop.png    1x,
                ./images/images/reviews/photo4-desctop@2x.png 2x
              "
              media="(min-width: 768px)"
              type="image/png"
            />

            <source
              srcset="
                ./images/images/reviews/photo4-desctop.webp    1x,
                ./images/images/reviews/photo4-desctop@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./images/images/reviews/photo4-desctop.png    1x,
                ./images/images/reviews/photo4-desctop@2x.png 2x
              "
              media="(max-width: 767px)"
              type="image/png"
            />

            <img
              src="./images/images/reviews/photo4-desctop.png"
              alt="Bryan photo"
              class="reviews__testimonials-img"
              loading="lazy"
            />
          </picture>

          <p class="reviews__testimonials">
            Every day we come to you with friends after classes in college. We
            love your ice cream and casual atmosphere!
          </p>
          <p class="reviews__testimonials-name">Bryan, New-York</p>
        </li>
      </ul>
    </div>
  </section>
</div>
