<section class="section">

    <h2 class="visually-hidden">Ice Gallery</h2>

    <div class="container gallery">

        <ul class="single-item gallery__list">
            <li class="gallery__item">
                <picture>
                    <!-- <source
                        srcset="team/desktop/team-1-desktop.webp 1x, ./images/team/desktop/team-1-desktop@2x.webp 2x"
                        media="(min-width: 1200px)" type="image/webp" />
                    <source
                        srcset="../images/team/desktop/team-1-desktop.jpg 1x, ./images/team/desktop/team-1-desktop@2x.jpg 2x"
                        media="(min-width: 1200px)" />

                    <source
                        srcset="./images/team/tablet/team-1-tablet.webp 1x, ./images/team/tablet/team-1-tablet@2x.webp 2x"
                        media="(min-width: 768px)" type="image/webp" />
                    <source
                        srcset="../images/team/tablet/team-1-tablet.jpg 1x, ./images/team/tablet/team-1-tablet@2x.jpg 2x"
                        media="(min-width: 768px)" />

                    <source
                        srcset="./images/team/mobile/team-1-mobile.webp 1x, ./images/team/mobile/team-1-mobile@2x.webp 2x"
                        media="(max-width: 767px)" type="image/webp" />
                    <source
                        srcset="./images/team/mobile/team-1-mobile.jpg 1x, ./images/team/mobile/team-1-mobile@2x.jpg 2x"
                        media="(max-width: 767px)" /> -->

                    <img src="/src/images/images/gallery/darkberry-smart.webp"
                        alt="На фото Ігор Дем'яненко (Product Designer)" class="team__img" />
                </picture>
            </li>
            <li class="gallery__item">
                <h3>2</h3>
            </li>
            <li class="gallery__item">
                <h3>3</h3>
            </li>
            <li class="gallery__item">
                <h3>4</h3>
            </li>
            <li class="gallery__item">
                <h3>5</h3>
            </li>
            <li class="gallery__item">
                <h3>6</h3>
            </li>
        </ul>
    </div>

</section>