<section class="section">
    <div class="container">
        <h2 class="visually-hidden">Ice Gallery</h2>
        <div class="gallery">
            <ul class="single-item gallery__list">
                <li class="gallery__item">
                    <picture>
                        <source
                            srcset="/src/images/images/gallery/desktop_1x/ice_cream_desktop_1x_1.webp 1x, /src/images/images/gallery/desktop_2x/ice_cream_desktop_2x_1.webp 2x"
                            media="(min-width: 1200px)" type="image/webp" />
                        <source
                            srcset="/src/images/images/gallery/desktop_1x/ice_cream_desktop_1x_1.jpg 1x, /src/images/images/gallery/desktop_2x/ice_cream_desktop_2x_1.jpg 2x"
                            media="(min-width: 1200px)" />

                        <source
                            srcset="/src/images/images/gallery/tablet_1x/ice_cream_tablet_1x_1.webp 1x, /src/images/images/gallery/tablet_2x/ice_cream_tablet_2x_1.webp 2x"
                            media="(min-width: 768px)" type="image/webp" />
                        <source
                            srcset="/src/images/images/gallery/tablet_1x/ice_cream_tablet_1x_1.jpg 1x, /src/images/images/gallery/tablet_2x/ice_cream_tablet_2x_1.jpg 2x"
                            media="(min-width: 768px)" />

                        <source
                            srcset="/src/images/images/gallery/mobile_1x/ice_cream_mobile_1x_1.webp 1x, /src/images/images/gallery/mobile_2x/ice_cream_mobile_2x_1.webp 2x"
                            media="(max-width: 767px)" type="image/webp" />
                        <source
                            srcset="/src/images/images/gallery/mobile_1x/ice_cream_mobile_1x_1.jpg 1x, /src/images/images/gallery/mobile_2x/ice_cream_mobile_2x_1.jpg 2x"
                            media="(max-width: 767px)" />

                        <img src="/src/images/images/gallery/mobile_2x/ice_cream_mobile_2x_1.jpg"
                            alt="Blueberry ice cream" class="gallery__img" />
                    </picture>
                </li>
                <li class="gallery__item">
                    <picture>
                        <source
                            srcset="/src/images/images/gallery/desktop_1x/ice_cream_desktop_1x_2.webp 1x, /src/images/images/gallery/desktop_2x/ice_cream_desktop_2x_2.webp 2x"
                            media="(min-width: 1200px)" type="image/webp" />
                        <source
                            srcset="/src/images/images/gallery/desktop_1x/ice_cream_desktop_1x_2.jpg 1x, /src/images/images/gallery/desktop_2x/ice_cream_desktop_2x_2.jpg 2x"
                            media="(min-width: 1200px)" />

                        <source
                            srcset="/src/images/images/gallery/tablet_1x/ice_cream_tablet_1x_2.webp 1x, /src/images/images/gallery/tablet_2x/ice_cream_tablet_2x_2.webp 2x"
                            media="(min-width: 768px)" type="image/webp" />
                        <source
                            srcset="/src/images/images/gallery/tablet_1x/ice_cream_tablet_1x_2.jpg 1x, /src/images/images/gallery/tablet_2x/ice_cream_tablet_2x_2.jpg 2x"
                            media="(min-width: 768px)" />

                        <source
                            srcset="/src/images/images/gallery/mobile_1x/ice_cream_mobile_1x_2.webp 1x, /src/images/images/gallery/mobile_2x/ice_cream_mobile_2x_2.webp 2x"
                            media="(max-width: 767px)" type="image/webp" />
                        <source
                            srcset="/src/images/images/gallery/mobile_1x/ice_cream_mobile_1x_2.jpg 1x, /src/images/images/gallery/mobile_2x/ice_cream_mobile_2x_2.jpg 2x"
                            media="(max-width: 767px)" />

                        <img src="/src/images/images/gallery/mobile_2x/ice_cream_mobile_2x_2.jpg"
                            alt="Ice cream on a white background" class="gallery__img" />
                    </picture>
                </li>
                <li class="gallery__item">
                    <picture>
                        <source
                            srcset="/src/images/images/gallery/desktop_1x/ice_cream_desktop_1x_3.webp 1x, /src/images/images/gallery/desktop_2x/ice_cream_desktop_2x_3.webp 2x"
                            media="(min-width: 1200px)" type="image/webp" />
                        <source
                            srcset="/src/images/images/gallery/desktop_1x/ice_cream_desktop_1x_3.jpg 1x, /src/images/images/gallery/desktop_2x/ice_cream_desktop_2x_3.jpg 2x"
                            media="(min-width: 1200px)" />

                        <source
                            srcset="/src/images/images/gallery/tablet_1x/ice_cream_tablet_1x_3.webp 1x, /src/images/images/gallery/tablet_2x/ice_cream_tablet_2x_3.webp 2x"
                            media="(min-width: 768px)" type="image/webp" />
                        <source
                            srcset="/src/images/images/gallery/tablet_1x/ice_cream_tablet_1x_3.jpg 1x, /src/images/images/gallery/tablet_2x/ice_cream_tablet_2x_3.jpg 2x"
                            media="(min-width: 768px)" />

                        <source
                            srcset="/src/images/images/gallery/mobile_1x/ice_cream_mobile_1x_3.webp 1x, /src/images/images/gallery/mobile_2x/ice_cream_mobile_2x_3.webp 2x"
                            media="(max-width: 767px)" type="image/webp" />
                        <source
                            srcset="/src/images/images/gallery/mobile_1x/ice_cream_mobile_1x_3.jpg 1x, /src/images/images/gallery/mobile_2x/ice_cream_mobile_2x_3.jpg 2x"
                            media="(max-width: 767px)" />

                        <img src="/src/images/images/gallery/mobile_2x/ice_cream_mobile_2x_3.jpg"
                            alt="Scoops of ice cream in a plate" class="gallery__img" />
                    </picture>
                </li>
                <li class="gallery__item">
                    <picture>
                        <source
                            srcset="/src/images/images/gallery/desktop_1x/ice_cream_desktop_1x_4.webp 1x, /src/images/images/gallery/desktop_2x/ice_cream_desktop_2x_4.webp 2x"
                            media="(min-width: 1200px)" type="image/webp" />
                        <source
                            srcset="/src/images/images/gallery/desktop_1x/ice_cream_desktop_1x_4.jpg 1x, /src/images/images/gallery/desktop_2x/ice_cream_desktop_2x_4.jpg 2x"
                            media="(min-width: 1200px)" />

                        <source
                            srcset="/src/images/images/gallery/tablet_1x/ice_cream_tablet_1x_4.webp 1x, /src/images/images/gallery/tablet_2x/ice_cream_tablet_2x_4.webp 2x"
                            media="(min-width: 768px)" type="image/webp" />
                        <source
                            srcset="/src/images/images/gallery/tablet_1x/ice_cream_tablet_1x_4.jpg 1x, /src/images/images/gallery/tablet_2x/ice_cream_tablet_2x_4.jpg 2x"
                            media="(min-width: 768px)" />

                        <source
                            srcset="/src/images/images/gallery/mobile_1x/ice_cream_mobile_1x_4.webp 1x, /src/images/images/gallery/mobile_2x/ice_cream_mobile_2x_4.webp 2x"
                            media="(max-width: 767px)" type="image/webp" />
                        <source
                            srcset="/src/images/images/gallery/mobile_1x/ice_cream_mobile_1x_4.jpg 1x, /src/images/images/gallery/mobile_2x/ice_cream_mobile_2x_4.jpg 2x"
                            media="(max-width: 767px)" />

                        <img src="/src/images/images/gallery/mobile_2x/ice_cream_mobile_2x_4.jpg"
                            alt="Ice cream with strawberries" class="gallery__img" />
                    </picture>
                </li>
                <li class="gallery__item">
                    <picture>
                        <source
                            srcset="/src/images/images/gallery/desktop_1x/ice_cream_desktop_1x_5.webp 1x, /src/images/images/gallery/desktop_2x/ice_cream_desktop_2x_5.webp 2x"
                            media="(min-width: 1200px)" type="image/webp" />
                        <source
                            srcset="/src/images/images/gallery/desktop_1x/ice_cream_desktop_1x_5.jpg 1x, /src/images/images/gallery/desktop_2x/ice_cream_desktop_2x_5.jpg 2x"
                            media="(min-width: 1200px)" />

                        <source
                            srcset="/src/images/images/gallery/tablet_1x/ice_cream_tablet_1x_5.webp 1x, /src/images/images/gallery/tablet_2x/ice_cream_tablet_2x_5.webp 2x"
                            media="(min-width: 768px)" type="image/webp" />
                        <source
                            srcset="/src/images/images/gallery/tablet_1x/ice_cream_tablet_1x_5.jpg 1x, /src/images/images/gallery/tablet_2x/ice_cream_tablet_2x_5.jpg 2x"
                            media="(min-width: 768px)" />

                        <source
                            srcset="/src/images/images/gallery/mobile_1x/ice_cream_mobile_1x_5.webp 1x, /src/images/images/gallery/mobile_2x/ice_cream_mobile_2x_5.webp 2x"
                            media="(max-width: 767px)" type="image/webp" />
                        <source
                            srcset="/src/images/images/gallery/mobile_1x/ice_cream_mobile_1x_5.jpg 1x, /src/images/images/gallery/mobile_2x/ice_cream_mobile_2x_5.jpg 2x"
                            media="(max-width: 767px)" />

                        <img src="/src/images/images/gallery/mobile_2x/ice_cream_mobile_2x_5.jpg"
                            alt="Boulogne and ice cream" class="gallery__img" />
                    </picture>
                </li>
                <li class="gallery__item">
                    <picture>
                        <source
                            srcset="/src/images/images/gallery/desktop_1x/ice_cream_desktop_1x_6.webp 1x, /src/images/images/gallery/desktop_2x/ice_cream_desktop_2x_6.webp 2x"
                            media="(min-width: 1200px)" type="image/webp" />
                        <source
                            srcset="/src/images/images/gallery/desktop_1x/ice_cream_desktop_1x_6.jpg 1x, /src/images/images/gallery/desktop_2x/ice_cream_desktop_2x_6.jpg 2x"
                            media="(min-width: 1200px)" />

                        <source
                            srcset="/src/images/images/gallery/tablet_1x/ice_cream_tablet_1x_6.webp 1x, /src/images/images/gallery/tablet_2x/ice_cream_tablet_2x_6.webp 2x"
                            media="(min-width: 768px)" type="image/webp" />
                        <source
                            srcset="/src/images/images/gallery/tablet_1x/ice_cream_tablet_1x_6.jpg 1x, /src/images/images/gallery/tablet_2x/ice_cream_tablet_2x_6.jpg 2x"
                            media="(min-width: 768px)" />

                        <source
                            srcset="/src/images/images/gallery/mobile_1x/ice_cream_mobile_1x_6.webp 1x, /src/images/images/gallery/mobile_2x/ice_cream_mobile_2x_6.webp 2x"
                            media="(max-width: 767px)" type="image/webp" />
                        <source
                            srcset="/src/images/images/gallery/mobile_1x/ice_cream_mobile_1x_6.jpg 1x, /src/images/images/gallery/mobile_2x/ice_cream_mobile_2x_6.jpg 2x"
                            media="(max-width: 767px)" />

                        <img src="/src/images/images/gallery/mobile_2x/ice_cream_mobile_2x_6.jpg"
                            alt="Three ice cream cones on a plate" class="gallery__img" />
                    </picture>
                </li>
            </ul>
        </div>
    </div>
    </div>

</section>