<header class="page-header">
    <div class="container header-position">
        <nav class="header-nav">
            <a href="./index.html" title="To main page" class="logo header-nav__logo">

                <picture>
                    <source srcset="./images/images/icon/logo-desktop.webp" type="image/webp" />
                    <source
                        srcset="./images/images/icon/logo-desktop.png 1x, ./images/images/icon/logo-desktop@2x.png 2x"
                        type="image/png" />
                    <source srcset="./images/images/icon/logo-tablet.webp" type="image/webp" />
                    <source srcset="./images/images/icon/logo-tablet.png 1x, ./images/images/icon/logo-tablet@2x.png 2x"
                        type="image/png" />
                    <source srcset="./images/images/icon/logo-mobile.webp" type="image/webp" />
                    <source srcset="./images/images/icon/logo-mobile.png 1x, ./images/images/icon/logo-mobile@2x.png 2x"
                        type="image/png" />
                    <img src="./images/images/icon/logo-desktop.png" alt="Ice Cream Logo" width="#" height="294"
                        loading="lazy" />
                </picture>

            </a>
            <ul class="pages-nav">
                <li class="page-nav-icecream pages-nav__item">
                    <a href="#" class="navigation-link current">Home</a>
                </li>
                <li class="page-nav-about pages-nav__item">
                    <a href="#" class="navigation-link">How it’s made?</a>
                </li>
                <li class="page-nav-products pages-nav__item">
                    <a href="#" class="navigation-link">Our products</a>
                </li>
                <li class="page-nav-contacts pages-nav__item">
                    <a href="#" class="navigation-link">Contact</a>
                </li>
            </ul>
        </nav>

        <button type="button" class="open-mobile-menu-btn js-open-menu" aria-expanded="false"
            aria-controls="mobile-menu">
            <svg class="open-mobile-menu-btn__icon">
                <use href="../src/images/sprite.svg#icon-burger-menu"></use>
            </svg>
        </button>

        <button type="button" class="button__buy-now button">
            Buy now
            <svg class="buy-now-icon">
                <use href="../src/images/sprite.svg#icon-short-arrow"></use>
            </svg>
        </button>
</header>