<section class="section hero">
  <div class="container con__hero">
    <div class="hero__menu__container">
      <div>
        <h1 class="hero__title">
          ice cream made with <span class="hero__title__span">passion</span>
        </h1>
        <ul class="hero__menu">
          <li class="menu__item">
            <!-- ТУт має бути ссилка на розділ сайту - замість # - через ../ -->
            <form action="#">
              <button class="hero__btn hero__btn--first" type="submit">
                Products
              </button>
            </form>
          </li>
          <li class="menu__item">
            <!-- ТУт має бути ссилка на розділ сайту - замість # - через ../ -->
            <form action="#">
              <button class="hero__btn hero__btn--second" type="submit">
                How it’s made?
              </button>
            </form>
          </li>
        </ul>
      </div>
      <ul class="hero__menu__numbers">
        <li class="menu__item__numbers">
          <p class="item__text--first">16</p>
        </li>
        <li class="menu__item__numbers">
          <p class="item__text--second item__text--marg">Cafes</p>
        </li>
        <li class="menu__item__numbers">
          <p class="item__text--first">23</p>
        </li>
        <li class="menu__item__numbers">
          <p class="item__text--second">Food trucks</p>
        </li>
      </ul>
    </div>
    <div class="hero__text__container">
      <p class="hero__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <svg class="hero__svg">
        <use href="./images/sprite.svg#icon-arrow-hover"></use>
      </svg>
    </div>
    <ul>
      <!-- Тарілка морозива -->
      <li>
        <picture class="item__plate">
          <source
            srcset="
              ./images/images/hero/desctop/moreice-desctop.png    1x,
              ./images/images/hero/desctop/moreice-desctop@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/images/hero/desctop/moreice-desctop.webp    1x,
              ./images/images/hero/desctop/moreice-desctop@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/images/hero/tablet/moreice-tablet.png    1x,
              ./images/images/hero/tablet/moreice-tablet@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/images/hero/tablet/moreice-tablet.webp    1x,
              ./images/images/hero/tablet/moreice-tablet@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <img
            src="./images/images/hero/tablet/moreice-tablet.png"
            alt="Plate of ice cream"
          />
        </picture>
      </li>
      <!-- Багато КУЛЬОК -->
      <li>
        <picture class="item__ball">
          <source
            srcset="
              ./images/images/hero/desctop/dot-desctop.png    1x,
              ./images/images/hero/desctop/dot-desctop@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/images/hero/desctop/dot-desctop.webp    1x,
              ./images/images/hero/desctop/dot-desctop@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/images/hero/tablet/dot-tablet.png    1x,
              ./images/images/hero/tablet/dot-tablet@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/images/hero/tablet/dot-tablet.webp    1x,
              ./images/images/hero/tablet/dot-tablet@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/images/hero/smart/dot-smart.png    1x,
              ./images/images/hero/smart/dot-smart@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/images/hero/smart/dot-smart.webp    1x,
              ./images/images/hero/smart/dot-smart@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <img
            src="./images/images/hero/smart/dot-smart.png"
            alt="Many balls"
          />
        </picture>
      </li>
      <!-- ТІІІІІІІІІІННННННННННЬЬЬ -->
      <li>
        <picture class="item__shadow">
          <source
            srcset="
              ./images/images/hero/desctop/iceshadow-desctop.png    1x,
              ./images/images/hero/desctop/iceshadow-desctop@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/images/hero/desctop/iceshadow-desctop.webp    1x,
              ./images/images/hero/desctop/iceshadow-desctop@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/images/hero/tablet/iceshadow-tablet.png    1x,
              ./images/images/hero/tablet/iceshadow-tablet@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/images/hero/tablet/iceshadow-tablet.webp    1x,
              ./images/images/hero/tablet/iceshadow-tablet@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/images/hero/smart/iceshadow-smart.png    1x,
              ./images/images/hero/smart/iceshadow-smart@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/images/hero/smart/iceshadow-smart.webp    1x,
              ./images/images/hero/smart/iceshadow-smart@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <img
            src="./images/images/hero/smart/iceshadow-smart.png"
            alt="Shadow"
          />
        </picture>
      </li>
      <!-- РіЖОК -->
      <li>
        <picture class="item__ice">
          <source
            srcset="
              ./images/images/hero/desctop/ice-desctop.png    1x,
              ./images/images/hero/desctop/ice-desctop@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/images/hero/desctop/ice-desctop.webp    1x,
              ./images/images/hero/desctop/ice-desctop@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/images/hero/tablet/ice-tablet.png    1x,
              ./images/images/hero/tablet/ice-tablet@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/images/hero/tablet/ice-tablet.webp    1x,
              ./images/images/hero/tablet/ice-tablet@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/images/hero/smart/ice-smart.png    1x,
              ./images/images/hero/smart/ice-smart@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/images/hero/smart/ice-smart.webp    1x,
              ./images/images/hero/smart/ice-smart@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <img src="./images/images/hero/smart/ice-smart.png" alt="Ice" />
        </picture>
      </li>
      <!-- Смайлики -->
      <li>
        <picture class="item__smile">
          <source
            srcset="
              ./images/images/hero/desctop/icesmile-desctop.png    1x,
              ./images/images/hero/desctop/icesmile-desctop@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/images/hero/desctop/icesmile-desctop.webp    1x,
              ./images/images/hero/desctop/icesmile-desctop@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/images/hero/tablet/icesmile-tablet.png    1x,
              ./images/images/hero/tablet/icesmile-tablet@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/images/hero/tablet/icesmile-tablet.webp    1x,
              ./images/images/hero/tablet/icesmile-tablet@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/images/hero/smart/icesmile-smart.png    1x,
              ./images/images/hero/smart/icesmile-smart@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/images/hero/smart/icesmile-smart.webp    1x,
              ./images/images/hero/smart/icesmile-smart@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <img
            src="./images/images/hero/smart/icesmile-smart.png"
            alt="Smile"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
