<div class="backdrop is-hidden" data-modal>
    <div class="modal-locations backdrop-is-hidden">
        <button type="button" class="modal-close-btn" data-modal-close>
            <svg class="modal-close-icon">
                <use href="./images/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <p class="modal-title-locations">Our Locations</p>
        <picture>
            <source
                srcset="./images/images/modal-locations/map-desctop.webp 1x, ./images/images/modal-locations/map-desctop@2x.webp 2x"
                media="(min-width: 1200px)" type="image/webp">
            <source
                srcset="./images/images/modal-locations/map-desctop.jpg 1x, ./images/images/modal-locations/map-desctop@2x.jpg 2x"
                media="(min-width: 1200px)">
            <source
                srcset="./images/images/modal-locations/map-smart.webp 1x, ./images/images/modal-locations/map-smart@2x.webp 2x"
                media="(max-width: 767px)" type="image/webp">
            <source
                srcset="./images/images/modal-locations/map-smart.jpg 1x, ./images/images/modal-locations/map-smart@2x.jpg 2x"
                media="(max-width: 767px)">
            <img src="./images/images/modal-locations/map-desctop.jpg" alt="Card Poltava" class="photo-locations" />
        </picture>
        <a class="modal-link-locations link"
            href="https://www.google.com.ua/maps/place/Полтавская+область/@49.6428934,32.6648285,8z/data=!3m1!4b1!4m5!3m4!1s0x40d77538166ac7e5:0x101068488f64170!8m2!3d49.588267!4d34.5514169?hl=ru"
            target="_blank" rel="noopener noreferrer nofollow">Open map</a>
    </div>
</div>