<!-- <!-- код для прикладу/орієнтації, підлаштовуємо під своє,
видаляємо зайве, змінюємо на потрібне -->
<!-- <div class="viewport">
    <header class="header" role="banner">

        <nav id="nav" class="nav" role="navigation"> -->

<!-- ACTUAL NAVIGATION MENU -->
<!-- <ul class="nav__menu" id="menu" tabindex="-1" aria-label="main navigation" hidden>
                <li class="nav__item"><a href="#" class="nav__link">Home</a></li>
                <li class="nav__item"><a href="#" class="nav__link">How it’s made?</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Our products</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Contact</a></li>
            </ul> -->

<!-- MENU TOGGLE BUTTON -->
<!-- <a href="#nav" class="nav__toggle" role="button" aria-expanded="false" aria-controls="menu">
                <svg class="menuicon" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
                    <title>Toggle Menu</title>
                    <g>
                        <line class="menuicon__bar" x1="13" y1="16.5" x2="37" y2="16.5" />
                        <line class="menuicon__bar" x1="13" y1="24.5" x2="37" y2="24.5" />
                        <line class="menuicon__bar" x1="13" y1="24.5" x2="37" y2="24.5" />
                        <line class="menuicon__bar" x1="13" y1="32.5" x2="37" y2="32.5" />
                        <circle class="menuicon__circle" r="23" cx="25" cy="25" />
                    </g>
                </svg>
            </a> -->

<!-- ANIMATED BACKGROUND ELEMENT -->
<!-- <div class="splash"></div>

        </nav>

    </header> -->

<!-- <div class="mobile-menu js-menu-container" id="mobile-menu">

        <div class="mobile-menu__container">
            <button class="mobile-menu__close-btn js-close-menu" data-menu-close>
                <svg class="mobile-menu__close-icon">
                    <use href="./images/icons.svg#icon-close"></use>
                </svg>
            </button>

            <nav class="mobile-nav">

                <ul class="mobile-nav-list">
                    <li class="mobile-nav-item">
                        <a href="./index.html" class="navigation-link current">Studio</a>
                    </li>
                    <li class="mobile-nav-item">
                        <a href="./portfolio.html" class="navigation-link">Portfolio</a>
                    </li>
                    <li class="mobile-nav-item">
                        <a href="" class="navigation-link">Contacts</a>
                    </li>
                </ul>

                <ul class="mobile-contact-list">
                    <li class="mail mobile-mail">
                        <a href="mailto:info@devstudio.com" class="contact-link mail-link">
                            <svg width="16" height="12" class="mail-link-icon">
                                <use href="./images/icons.svg#icon-envelope"></use>
                            </svg>info@devstudio.com
                        </a>
                    </li>
                    <li class="cell mobile-cell">
                        <a href="tel:+12127724150" class="contact-link cell-link"><svg width="10" height="16"
                                class="cell-link-icon">
                                <use href="./images/icons.svg#icon-smartphone"></use>
                            </svg>+1 212-772-4150
                        </a>
                    </li>
                </ul>

                <ul class="mobile-social">
                    <li class="mobile-social__item">
                        <a href="" class="mobile-social__link">Instagram</a>
                    </li>
                    <li class="mobile-social__item">
                        <a href="" class="mobile-social__link">Twitter</a>
                    </li>
                    <li class="mobile-social__item">
                        <a href="" class="mobile-social__link">Facebook</a>
                    </li>
                    <li class="mobile-social__item">
                        <a href="" class="mobile-social__link">LinkedIn</a>
                    </li>
                </ul>


            </nav>
        </div>
    </div> --> -->