<div class="mobile-menu js-menu-container" id="mobile-menu">
  <div class="mobile-menu__container">
    <button class="mobile-menu__close-btn js-close-menu">
      <svg class="mobile-menu__close-icon">
        <use href="../src/images/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <div class="mobile-wrapper">
      <nav id="nav" class="nav mobile-nav">
        <picture class="mobile-menu-logo">
          <source srcset="./images/images/icon/logo-tablet.webp" type="image/webp">
          <source srcset="
              ./images/images/icon/logo-tablet.png    1x,
              ./images/images/icon/logo-tablet@2x.png 2x
            " type="image/png">
          <source srcset="./images/images/icon/logo-mobile.webp" type="image/webp">
          <source srcset="
              ./images/images/icon/logo-mobile.png    1x,
              ./images/images/icon/logo-mobile@2x.png 2x
            " type="image/png">
          <img src="./images/images/icon/logo-desktop.png" alt="Ice Cream Logo" height="294" loading="lazy">
        </picture>

        <ul class="mobile-nav-list">
          <li class="mobile-nav-item">
            <a href="#home" class="mobile-navigation-link current">Home</a>
          </li>
          <li class="mobile-nav-item">
            <a href="#how-its-made" class="mobile-navigation-link">How it’s made?</a>
          </li>
          <li class="mobile-nav-item">
            <a href="#our-products" class="mobile-navigation-link">Our products</a>
          </li>
          <li class="mobile-nav-item">
            <a href="#contacts" class="mobile-navigation-link">Contact</a>
          </li>
        </ul>
      </nav>

      <button type="button" class="button__buy-now-mobile button js-menu-close22" data-modal-menu-open>
        Buy now
        <svg class="buy-now-icon">
          <use href="../src/images/sprite.svg#icon-short-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</div>