<section class="products">
  <p class="products__sub-title">100% NATURAL</p>
  <h2 class="products__title">PRODUCTS</h2>
  <ul class="products__list">
    <li class="products__list__item">
      <div class="elipse"></div>
      <h3 class="products__list__item__title">ICE CREAM</h3>
      <p class="products__list__item__text">
        Soft ice cream with a delicate taste. Made with milk, cream, sugar and
        natural stabilizer
      </p>
      <button class="products__icecream-button" data-modal-open>
        <svg aria-label="long-arrow" id="icon-long-arrow" viewBox="0 0 82 32">
          <path
            d="M81.414 17.414c0.781-0.781 0.781-2.047 0-2.828l-12.728-12.728c-0.781-0.781-2.047-0.781-2.828 0s-0.781 2.047 0 2.828l11.314 11.314-11.314 11.314c-0.781 0.781-0.781 2.047 0 2.828s2.047 0.781 2.828 0l12.728-12.728zM0 18h80v-4h-80v4z"
          ></path>
        </svg>
      </button>
    </li>
    <li class="products__list__item-two">
      <div class="elipse-two"></div>
      <h3 class="products__list__item__title">ICE COFFEE</h3>
      <p class="products__list__item__text">
        Fragrant invigorating drink created from 100% natural ingredients
        without the use of preservatives and flavor enhancers
      </p>
      <button class="products__icecoffee-button" data-modal-open>
        <svg aria-label="long-arrow" id="icon-long-arrow" viewBox="0 0 82 32">
          <path
            d="M81.414 17.414c0.781-0.781 0.781-2.047 0-2.828l-12.728-12.728c-0.781-0.781-2.047-0.781-2.828 0s-0.781 2.047 0 2.828l11.314 11.314-11.314 11.314c-0.781 0.781-0.781 2.047 0 2.828s2.047 0.781 2.828 0l12.728-12.728zM0 18h80v-4h-80v4z"
          ></path>
        </svg>
      </button>
    </li>
    <li class="products__list__item-three">
      <div class="elipse-three"></div>
      <h3 class="products__list__item__title">MILKSHAKES</h3>
      <p class="products__list__item__text">
        Sweet drinks based on milk and ice cream, supplemented with syrups,
        fruits, berries and other sweets of your choice
      </p>
      <button class="products__milkshakes-button" data-modal-open>
        <svg aria-label="long-arrow" id="icon-long-arrow" viewBox="0 0 82 32">
          <path
            d="M81.414 17.414c0.781-0.781 0.781-2.047 0-2.828l-12.728-12.728c-0.781-0.781-2.047-0.781-2.828 0s-0.781 2.047 0 2.828l11.314 11.314-11.314 11.314c-0.781 0.781-0.781 2.047 0 2.828s2.047 0.781 2.828 0l12.728-12.728zM0 18h80v-4h-80v4z"
          ></path>
        </svg>
      </button>
    </li>
  </ul>
</section>
