<section id="our-products" class="section products">
  <div class="container">
    <p class="products__sub-title scale">100% NATURAL</p>
    <h2 id="our-products" class="products__title scale">PRODUCTS</h2>
    <ul class="products__list">
      <li class="products__item products__item--one">
        <div class="elipse elipse--one"></div>
        <div class="products__item-wrapper">
          <h3 class="products__item--title">ICE CREAM</h3>
          <p class="products__item--text one">
            Soft ice cream with a delicate taste. Made with milk, cream, sugar and
            natural stabilizer
          </p>

          <button class="products__icecream-button js-modal-ice-cream-open" aria-label="long-arrow">
            <svg class="icon-long-arrow">
              <use href="./images/sprite.svg#icon-long-arrow"></use>
            </svg>
          </button>
        </div>
      </li>

      <li class="products__item products__item--two">
        <div class="elipse elipse--two"></div>
        <div class="products__item-wrapper">
          <h3 class="products__item--title">ICE COFFEE</h3>
          <p class="products__item--text two">
            Fragrant invigorating drink created from 100% natural ingredients
            without the use of preservatives and flavor enhancers
          </p>
          <button class="products__icecoffee-button js-modal-ice-coffee-open" aria-label="long-arrow">
            <svg class="icon-long-arrow">
              <use href="./images/sprite.svg#icon-long-arrow"></use>
            </svg>
          </button>
        </div>
      </li>

      <li class="products__item products__item--three">
        <div class="elipse elipse--three"></div>
        <div class="products__item-wrapper">
          <h3 class="products__item--title">MILKSHAKES</h3>
          <p class="products__item--text three">
            Sweet drinks based on milk and ice cream, supplemented with syrups,
            fruits, berries and other sweets of your choice
          </p>
          <button class="products__milkshakes-button js-modal-milkshakes-open" aria-label="long-arrow">
            <svg class="icon-long-arrow">
              <use href="./images/sprite.svg#icon-long-arrow"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>