<div
  class="backdrop-products-modal backdrop-products-modal-ice-cream"
  data-modal
>
  <!-- START ######## Modal-ice-cream ######## -->
  <div class="products-modal products-modal-ice-cream">
    <button type="button" class="products-modal__close-btn" data-modal-close>
      <svg class="products-modal__close-icon">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <form
      class="products-modal-form products-modal-ice-cream-form"
      autocomplete="off"
    >
      <p class="products-modal-ice-cream-form__title">Chololate icecream</p>
      <picture class="products-modal-ice-cream-form__img">
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/images/products-modal/products-modal-desktop.webp    1x,
            ./images/images/products-modal/products-modal-desktop@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/images/products-modal/products-modal-desktop.png    1x,
            ./images/images/products-modal/products-modal-desktop@2x.png 2x
          "
          type="image/png"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/images/products-modal/products-modal-smart.webp    1x,
            ./images/images/products-modal/products-modal-smart@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/images/products-modal/products-modal-smart.png    1x,
            ./images/images/products-modal/products-modal-smart@2x.png 2x
          "
          type="image/png"
        />
        <img
          src="./images/images/products-modal/products-modal-smart.png"
          alt="Chololate icecream"
        />
      </picture>
      <ul class="products-modal-form__calorie-table-list">
        <li class="products-modal-form__calorie-table-item">
          <div class="products-modal-form__calorie-table-name">
            <div class="products-modal-form__calorie-table-value">320</div>
            kcal
          </div>
        </li>
        <li class="products-modal-form__calorie-table-name-item">
          <div class="products-modal-form__calorie-table-name">
            <div class="products-modal-form__calorie-table-value">4g</div>
            Prote...
          </div>
        </li>
        <li class="products-modal-form__calorie-table-item">
          <div class="products-modal-form__calorie-table-name">
            <div class="products-modal-form__calorie-table-value">8,2g</div>
            Fats
          </div>
        </li>
        <li class="products-modal-form__calorie-table-item">
          <div class="products-modal-form__calorie-table-name">
            <div class="products-modal-form__calorie-table-value">40,4g</div>
            Carbs
          </div>
        </li>
      </ul>

      <p class="products-modal-ice-cream-form__ingridients">Ingredients</p>
      <div class="products-modal-ice-cream-form__ingridients-box">
        <ul class="products-modal-ice-cream-form__ingridients-name-list">
          <li class="products-modal-ice-cream-form__ingridients-name-item">
            Milk
          </li>
          <li class="products-modal-ice-cream-form__ingridients-name-item">
            Belgian chocolate
          </li>
          <li class="products-modal-ice-cream-form__ingridients-name-item">
            Cream
          </li>
          <li class="products-modal-ice-cream-form__ingridients-name-item">
            Cocoa powder
          </li>
          <li class="products-modal-ice-cream-form__ingridients-name-item">
            Sugar
          </li>
          <li class="products-modal-ice-cream-form__ingridients-name-item">
            Vanilla sugar
          </li>
        </ul>

        <ul class="products-modal-form__ingridients-value-list">
          <li class="products-modal-ice-cream-form__ingridients-value-item">
            100ml
          </li>
          <li class="products-modal-ice-cream-form__ingridients-value-item">
            20g
          </li>
          <li class="products-modal-ice-cream-form__ingridients-value-item">
            150 ml
          </li>
          <li class="products-modal-ice-cream-form__ingridients-value-item">
            30g
          </li>
          <li class="products-modal-ice-cream-form__ingridients-value-item">
            40g
          </li>
          <li class="products-modal-ice-cream-form__ingridients-value-item">
            10g
          </li>
        </ul>
      </div>
      <label class="products-modal-form__field">
        <span class="products-modal-form__input-wrapper">
          <input
            type="text"
            class="products-modal-form__input"
            name="client_name"
            required
            minlength="3"
            pattern="[a-zA-Z-а-яА-ЯіІїЇ]+"
          />
          <span class="products-modal-form__field-description">Name</span>
        </span>
      </label>
      <label class="products-modal-form__field">
        <span class="products-modal-form__input-wrapper">
          <input
            type="tel"
            class="products-modal-form__input"
            name="client_phone"
            required
            pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
            title="xxx-xxx-xx-xx"
          />
          <span class="products-modal-form__field-description">Phone</span>
        </span>
      </label>
      <label class="products-modal-form__field-comment">
        <span class="products-modal-form__input-wrapper">
          <textarea
            class="products-modal-form__comment"
            name="client_comment"
          ></textarea>
          <span class="products-modal-form__field-description">Comment</span>
        </span>
      </label>

      <label class="button products-modal-form__check-field">
        <input
          class="products-modal-form__check visually-hidden"
          type="checkbox"
          name="client_select-ice-cream"
          checked
          required
        />
      </label>

      <button type="submit" class="products-modal-form__send-btn">
        Submit
      </button>
    </form>
  </div>
  <!-- END ######## Modal-ice-cream ######## -->
</div>
