<div
  class="backdrop-products-modal backdrop-products-modal-ice-cream js-modal-ice-cream"
>
  <!-- START ######## Modal-ice-cream ######## -->
  <div class="products-modal products-modal-ice-cream">
    <button
      type="button"
      class="products-modal__close-btn js-modal-ice-cream-close"
    >
      <svg class="products-modal__close-icon">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <form
      class="products-modal-form products-modal-ice-cream-form"
      autocomplete="off"
    >
      <p class="products-modal-form__title">Chololate icecream</p>
      <div
        class="products-modal-form__img products-modal-ice-cream-form__img"
      ></div>
      <ul class="products-modal-form__calorie-table-list">
        <li class="products-modal-form__calorie-table-item">
          <div
            class="products-modal-form__calorie-table-name calorie-ice-cream-name"
          >
            <div
              class="products-modal-form__calorie-table-value calorie-ice-cream-value"
            >
              320
            </div>
            kcal
          </div>
        </li>
        <li class="products-modal-form__calorie-table-name-item">
          <div
            class="products-modal-form__calorie-table-name calorie-ice-cream-name"
          >
            <div
              class="products-modal-form__calorie-table-value calorie-ice-cream-value"
            >
              4g
            </div>
            Prote...
          </div>
        </li>
        <li class="products-modal-form__calorie-table-item">
          <div
            class="products-modal-form__calorie-table-name calorie-ice-cream-name"
          >
            <div
              class="products-modal-form__calorie-table-value calorie-ice-cream-value"
            >
              8,2g
            </div>
            Fats
          </div>
        </li>
        <li class="products-modal-form__calorie-table-item">
          <div
            class="products-modal-form__calorie-table-name calorie-ice-cream-name"
          >
            <div
              class="products-modal-form__calorie-table-value calorie-ice-cream-value"
            >
              40,4g
            </div>
            Carbs
          </div>
        </li>
      </ul>

      <p class="products-modal-form__ingridients">Ingredients</p>
      <div class="products-modal-form__ingridients-box">
        <ul class="products-modal-form__ingridients-name-list">
          <li class="products-modal-form__ingridients-name-item">Milk</li>
          <li class="products-modal-form__ingridients-name-item">
            Belgian chocolate
          </li>
          <li class="products-modal-form__ingridients-name-item">Cream</li>
          <li class="products-modal-form__ingridients-name-item">
            Cocoa powder
          </li>
          <li class="products-modal-form__ingridients-name-item">Sugar</li>
          <li class="products-modal-form__ingridients-name-item">
            Vanilla sugar
          </li>
        </ul>

        <ul class="products-modal-form__ingridients-value-list">
          <li class="products-modal-form__ingridients-value-item">100ml</li>
          <li class="products-modal-form__ingridients-value-item">20g</li>
          <li class="products-modal-form__ingridients-value-item">150 ml</li>
          <li class="products-modal-form__ingridients-value-item">30g</li>
          <li class="products-modal-form__ingridients-value-item">40g</li>
          <li class="products-modal-form__ingridients-value-item">10g</li>
        </ul>
      </div>

      <div class="products-modal-form__field">
        <input
          type="text"
          class="products-modal-form__input modal-ice-cream-input"
          name="client_name"
          required
          minlength="3"
          placeholder="Name"
          id="name"
          pattern="[a-zA-Z-а-яА-ЯіІїЇ]+"
        />
        <label class="products-modal-form__field-description" for="name"
          >Name</label
        >
      </div>

      <div class="products-modal-form__field">
        <input
          type="tel"
          class="products-modal-form__input modal-ice-cream-input"
          name="client_phone"
          required
          placeholder="Phone"
          id="phone"
          pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
          title="xxx-xxx-xx-xx"
        />
        <label class="products-modal-form__field-description" for="phone"
          >Phone</label
        >
      </div>

      <div class="products-modal-form__field">
        <textarea
          class="products-modal-form__comment modal-ice-cream-input"
          name="client_comment"
          placeholder="Comment"
          id="comment"
        ></textarea>
        <label
          class="products-modal-form__field-description comment"
          for="comment"
          >Comment</label
        >
      </div>

      <input
        class="products-modal-form__check visually-hidden"
        type="checkbox"
        name="client_select-ice-cream"
        checked
        required
      />

      <button type="submit" class="button products-modal-form__send-btn">
        Submit
      </button>
    </form>
  </div>
  <!-- END ######## Modal-ice-cream ######## -->
</div>

<div
  class="backdrop-products-modal backdrop-products-modal-ice-coffee js-modal-ice-coffee"
>
  <!-- START ######## Modal-ice-coffee ######## -->
  <div class="products-modal products-modal-ice-coffee">
    <button
      type="button"
      class="products-modal__close-btn js-modal-ice-coffee-close"
    >
      <svg class="products-modal__close-icon">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <form
      class="products-modal-form products-modal-ice-coffee-form"
      autocomplete="off"
    >
      <p class="products-modal-form__title">Exotic ice coffee</p>
      <div
        class="products-modal-form__img products-modal-ice-coffee-form__img"
      ></div>
      <ul class="products-modal-form__calorie-table-list">
        <li class="products-modal-form__calorie-table-item">
          <div
            class="products-modal-form__calorie-table-name calorie-ice-coffee-name"
          >
            <div
              class="products-modal-form__calorie-table-value calorie-ice-coffee-value"
            >
              49
            </div>
            kcal
          </div>
        </li>
        <li class="products-modal-form__calorie-table-name-item">
          <div
            class="products-modal-form__calorie-table-name calorie-ice-coffee-name"
          >
            <div
              class="products-modal-form__calorie-table-value calorie-ice-coffee-value"
            >
              0.5g
            </div>
            Prote...
          </div>
        </li>
        <li class="products-modal-form__calorie-table-item">
          <div
            class="products-modal-form__calorie-table-name calorie-ice-coffee-name"
          >
            <div
              class="products-modal-form__calorie-table-value calorie-ice-coffee-value"
            >
              0.7g
            </div>
            Fats
          </div>
        </li>
        <li class="products-modal-form__calorie-table-item">
          <div
            class="products-modal-form__calorie-table-name calorie-ice-coffee-name"
          >
            <div
              class="products-modal-form__calorie-table-value calorie-ice-coffee-value"
            >
              2g
            </div>
            Carbs
          </div>
        </li>
      </ul>

      <p class="products-modal-form__ingridients">Ingredients</p>
      <div class="products-modal-form__ingridients-box">
        <ul class="products-modal-form__ingridients-name-list">
          <li class="products-modal-form__ingridients-name-item">
            Crushed Ice
          </li>
          <li class="products-modal-form__ingridients-name-item">
            Coriander Leaves
          </li>
          <li class="products-modal-form__ingridients-name-item">
            Arabica Ethiopia Harrar
          </li>
          <li class="products-modal-form__ingridients-name-item">
            Passion Fruit
          </li>
          <li class="products-modal-form__ingridients-name-item">
            Passion Fruit Syrup
          </li>
          <li class="products-modal-form__ingridients-name-item">
            Pineapple Juice
          </li>
        </ul>

        <ul class="products-modal-form__ingridients-value-list">
          <li class="products-modal-form__ingridients-value-item">10g</li>
          <li class="products-modal-form__ingridients-value-item">5 Leaves</li>
          <li class="products-modal-form__ingridients-value-item">1 Unit</li>
          <li class="products-modal-form__ingridients-value-item">1 Unit</li>
          <li class="products-modal-form__ingridients-value-item">5 cl</li>
          <li class="products-modal-form__ingridients-value-item">10 cl</li>
        </ul>
      </div>

      <div class="products-modal-form__field">
        <input
          type="text"
          class="products-modal-form__input modal-ice-coffee-input"
          name="client_name"
          required
          minlength="3"
          placeholder="Name"
          id="name"
          pattern="[a-zA-Z-а-яА-ЯіІїЇ]+"
        />
        <label class="products-modal-form__field-description" for="name"
          >Name</label
        >
      </div>

      <div class="products-modal-form__field">
        <input
          type="tel"
          class="products-modal-form__input modal-ice-coffee-input"
          name="client_phone"
          required
          placeholder="Phone"
          id="phone"
          pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
          title="xxx-xxx-xx-xx"
        />
        <label class="products-modal-form__field-description" for="phone"
          >Phone</label
        >
      </div>

      <div class="products-modal-form__field">
        <textarea
          class="products-modal-form__comment modal-ice-coffee-input"
          name="client_comment"
          placeholder="Comment"
          id="comment"
        ></textarea>
        <label
          class="products-modal-form__field-description comment"
          for="comment"
          >Comment</label
        >
      </div>

      <input
        class="products-modal-form__check visually-hidden"
        type="checkbox"
        name="client_select-ice-coffee"
        checked
        required
      />

      <button type="submit" class="button products-modal-form__send-btn">
        Submit
      </button>
    </form>
  </div>
  <!-- END ######## Modal-ice-coffee ######## -->
</div>

<div
  class="backdrop-products-modal backdrop-products-modal-milkshakes js-modal-milkshakes"
>
  <!-- START ######## Modal-milkshakes ######## -->
  <div class="products-modal products-modal-milkshakes">
    <button
      type="button"
      class="products-modal__close-btn js-modal-milkshakes-close"
    >
      <svg class="products-modal__close-icon">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <form
      class="products-modal-form products-modal-milkshakes-form"
      autocomplete="off"
    >
      <p class="products-modal-form__title">Banana milkshake</p>
      <div
        class="products-modal-form__img products-modal-milkshakes-form__img"
      ></div>
      <ul class="products-modal-form__calorie-table-list">
        <li class="products-modal-form__calorie-table-item">
          <div
            class="products-modal-form__calorie-table-name calorie-milkshakes-name"
          >
            <div
              class="products-modal-form__calorie-table-value calorie-milkshakes-value"
            >
              722
            </div>
            kcal
          </div>
        </li>
        <li class="products-modal-form__calorie-table-name-item">
          <div
            class="products-modal-form__calorie-table-name calorie-milkshakes-name"
          >
            <div
              class="products-modal-form__calorie-table-value calorie-milkshakes-value"
            >
              14g
            </div>
            Prote...
          </div>
        </li>
        <li class="products-modal-form__calorie-table-item">
          <div
            class="products-modal-form__calorie-table-name calorie-milkshakes-name"
          >
            <div
              class="products-modal-form__calorie-table-value calorie-milkshakes-value"
            >
              41g
            </div>
            Fats
          </div>
        </li>
        <li class="products-modal-form__calorie-table-item">
          <div
            class="products-modal-form__calorie-table-name calorie-milkshakes-name"
          >
            <div
              class="products-modal-form__calorie-table-value calorie-milkshakes-value"
            >
              73g
            </div>
            Carbs
          </div>
        </li>
      </ul>

      <p class="products-modal-form__ingridients">Ingredients</p>
      <div class="products-modal-form__ingridients-box">
        <ul class="products-modal-form__ingridients-name-list">
          <li class="products-modal-form__ingridients-name-item">
            Semi-skimmed milk
          </li>
          <li class="products-modal-form__ingridients-name-item">
            Vanilla ice cream
          </li>
          <li class="products-modal-form__ingridients-name-item">
            Bananas, chopped
          </li>
          <li class="products-modal-form__ingridients-name-item">
            Double cream, whipped
          </li>
          <li class="products-modal-form__ingridients-name-item">Cinnamon</li>
          <li class="products-modal-form__ingridients-name-item">
            Banana chips
          </li>
          <li class="products-modal-form__ingridients-name-item">
            Fresh cherry
          </li>
        </ul>

        <ul class="products-modal-form__ingridients-value-list">
          <li class="products-modal-form__ingridients-value-item">250 ml</li>
          <li class="products-modal-form__ingridients-value-item">1 scoop</li>
          <li class="products-modal-form__ingridients-value-item">2 unit</li>
          <li class="products-modal-form__ingridients-value-item">50ml</li>
          <li class="products-modal-form__ingridients-value-item">pinch</li>
          <li class="products-modal-form__ingridients-value-item">
            a few dried
          </li>
          <li class="products-modal-form__ingridients-value-item">1unit</li>
        </ul>
      </div>

      <div class="products-modal-form__field">
        <input
          type="text"
          class="products-modal-form__input modal-milkshakes-input"
          name="client_name"
          required
          minlength="3"
          placeholder="Name"
          id="name"
          pattern="[a-zA-Z-а-яА-ЯіІїЇ]+"
        />
        <label class="products-modal-form__field-description" for="name"
          >Name</label
        >
      </div>

      <div class="products-modal-form__field">
        <input
          type="tel"
          class="products-modal-form__input modal-milkshakes-input"
          name="client_phone"
          required
          placeholder="Phone"
          id="phone"
          pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
          title="xxx-xxx-xx-xx"
        />
        <label class="products-modal-form__field-description" for="phone"
          >Phone</label
        >
      </div>

      <div class="products-modal-form__field">
        <textarea
          class="products-modal-form__comment modal-milkshakes-input"
          name="client_comment"
          placeholder="Comment"
          id="comment"
        ></textarea>
        <label
          class="products-modal-form__field-description comment"
          for="comment"
          >Comment</label
        >
      </div>

      <input
        class="products-modal-form__check visually-hidden"
        type="checkbox"
        name="client_select-milkshakes"
        checked
        required
      />

      <button type="submit" class="button products-modal-form__send-btn">
        Submit
      </button>
    </form>
  </div>
  <!-- END ######## Modal-milkshakes ######## -->
</div>
