<section id="our-products" class="products">
  <p class="products__sub-title scale">100% NATURAL</p>
  <h2 class="products__title scale">PRODUCTS</h2>
  <ul class="products__list">
    <li class="products__list__item">
      <div class="elipse"></div>
      <h3 class="products__list__item__title">ICE CREAM</h3>
      <p class="products__list__item__text">
        Soft ice cream with a delicate taste. Made with milk, cream, sugar and
        natural stabilizer
      </p>
      <button class="products__icecream-button js-modal-ice-cream-open">
        <svg aria-label="long-arrow" class="long-arrow-svg" viewBox="0 0 82 32">
          <use href="./images/sprite.svg#icon-long-arrow">
          </use>
        </svg>
      </button>
    </li>
    <li class="products__list__item-two">
      <div class="elipse-two"></div>
      <h3 class="products__list__item__title">ICE COFFEE</h3>
      <p class="products__list__item__text">
        Fragrant invigorating drink created from 100% natural ingredients
        without the use of preservatives and flavor enhancers
      </p>
      <button class="products__icecoffee-button js-modal-ice-coffee-open">
        <svg aria-label="long-arrow" class="long-arrow-svg" viewBox="0 0 82 32">
          <use href="./images/sprite.svg#icon-long-arrow"></use>
        </svg>
      </button>
    </li>
    <li class="products__list__item-three">
      <div class="elipse-three"></div>
      <h3 class="products__list__item__title">MILKSHAKES</h3>
      <p class="products__list__item__text">
        Sweet drinks based on milk and ice cream, supplemented with syrups,
        fruits, berries and other sweets of your choice
      </p>
      <button class="products__milkshakes-button js-modal-milkshakes-open">
        <svg aria-label="long-arrow" class="long-arrow-svg" viewBox="0 0 82 32">
          <use href="./images/sprite.svg#icon-long-arrow"></use>
        </svg>
      </button>
    </li>
  </ul>
</section>