<section class="reviews reviews-section">
  <div class="container">
    <h2 class="reviews__title visually-hidden">Customer Reviews</h2>
    <ul class="slick-js">
      <li>
        <picture>
          <source
            srcset="
              ./images/images/reviews/photo1-desctop.webp    1x,
              ./images/images/reviews/photo1-desctop@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/images/reviews/photo1-desctop.png    1x,
              ./images/images/reviews/photo1-desctop@2x.png 2x
            "
            media="(min-width: 1200px)"
            type="image/png"
          />

          <source
            srcset="
              ./images/images/reviews/photo1-desctop.webp    1x,
              ./images/images/reviews/photo1-desctop@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/images/reviews/photo1-desctop.png    1x,
              ./images/images/reviews/photo1-desctop@2x.png 2x
            "
            media="(min-width: 768px)"
            type="image/png"
          />

          <source
            srcset="
              ./images/images/reviews/photo1-desctop.webp    1x,
              ./images/images/reviews/photo1-desctop@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/images/reviews/photo1-desctop.png    1x,
              ./images/images/reviews/photo1-desctop@2x.png 2x
            "
            media="(max-width: 767px)"
            type="image/png"
          />

          <img
            src="./images/images/reviews/photo1-desctop.png"
            alt="Emily photo"
            class="reviews__testimonials-img"
            loading="lazy"
          />
        </picture>

        <p class="reviews__testimonials">
          I love visiting your cafe. You prepare the most delicious ice cream in
          Los Angeles! In addition, you have beautiful serving, cozy atmosphere
          and polite staff.
        </p>
        <p class="reviews__testimonials-name">Emily, Los Angeles</p>
      </li>

      <li>
        <picture>
          <source
            srcset="
              ./images/images/reviews/photo2-desctop.webp    1x,
              ./images/images/reviews/photo2-desctop@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/images/reviews/photo2-desctop.png    1x,
              ./images/images/reviews/photo2-desctop@2x.png 2x
            "
            media="(min-width: 1200px)"
            type="image/png"
          />

          <source
            srcset="
              ./images/images/reviews/photo2-desctop.webp    1x,
              ./images/images/reviews/photo2-desctop@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/images/reviews/photo2-desctop.png    1x,
              ./images/images/reviews/photo2-desctop@2x.png 2x
            "
            media="(min-width: 768px)"
            type="image/png"
          />

          <source
            srcset="
              ./images/images/reviews/photo2-desctop.webp    1x,
              ./images/images/reviews/photo2-desctop@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/images/reviews/photo2-desctop.png    1x,
              ./images/images/reviews/photo2-desctop@2x.png 2x
            "
            media="(max-width: 767px)"
            type="image/png"
          />

          <img
            src="./images/images/reviews/photo2-desctop.png"
            alt="Sam photo"
            class="reviews__testimonials-img"
            loading="lazy"
          />
        </picture>

        <p class="reviews__testimonials">
          I love eating popsicles on a hot day. Yours is always delicious. I
          recommend your cafe to everyone I know.
        </p>
        <p class="reviews__testimonials-name">Sam, Los Angeles</p>
      </li>

      <li>
        <picture>
          <source
            srcset="
              ./images/images/reviews/photo3-desctop.webp    1x,
              ./images/images/reviews/photo3-desctop@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/images/reviews/photo3-desctop.png    1x,
              ./images/images/reviews/photo3-desctop@2x.png 2x
            "
            media="(min-width: 1200px)"
            type="image/png"
          />

          <source
            srcset="
              ./images/images/reviews/photo3-desctop.webp    1x,
              ./images/images/reviews/photo3-desctop@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/images/reviews/photo3-desctop.png    1x,
              ./images/images/reviews/photo3-desctop@2x.png 2x
            "
            media="(min-width: 768px)"
            type="image/png"
          />

          <source
            srcset="
              ./images/images/reviews/photo3-desctop.webp    1x,
              ./images/images/reviews/photo3-desctop@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/images/reviews/photo3-desctop.png    1x,
              ./images/images/reviews/photo3-desctop@2x.png 2x
            "
            media="(max-width: 767px)"
            type="image/png"
          />

          <img
            src="./images/images/reviews/photo3-desctop.png"
            alt="Diana photo"
            class="reviews__testimonials-img"
            loading="lazy"
          />
        </picture>

        <p class="reviews__testimonials">
          Ice cream is my passion! I love your chocolate hazelnut ice cream! And
          I really like the excellent service - always served politely and
          quickly!
        </p>
        <p class="reviews__testimonials-name">Diana, Chicago</p>
      </li>

      <li>
        <picture>
          <source
            srcset="
              ./images/images/reviews/photo4-desctop.webp    1x,
              ./images/images/reviews/photo4-desctop@2x.webp 2x
            "
            media="(min-width: 1200px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/images/reviews/photo4-desctop.png    1x,
              ./images/images/reviews/photo4-desctop@2x.png 2x
            "
            media="(min-width: 1200px)"
            type="image/png"
          />

          <source
            srcset="
              ./images/images/reviews/photo4-desctop.webp    1x,
              ./images/images/reviews/photo4-desctop@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/images/reviews/photo4-desctop.png    1x,
              ./images/images/reviews/photo4-desctop@2x.png 2x
            "
            media="(min-width: 768px)"
            type="image/png"
          />

          <source
            srcset="
              ./images/images/reviews/photo4-desctop.webp    1x,
              ./images/images/reviews/photo4-desctop@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/images/reviews/photo4-desctop.png    1x,
              ./images/images/reviews/photo4-desctop@2x.png 2x
            "
            media="(max-width: 767px)"
            type="image/png"
          />

          <img
            src="./images/images/reviews/photo4-desctop.png"
            alt="Bryan photo"
            class="reviews__testimonials-img"
            loading="lazy"
          />
        </picture>

        <p class="reviews__testimonials">
          Every day we come to you with friends after classes in college. We
          love your ice cream and casual atmosphere!
        </p>
        <p class="reviews__testimonials-name">Bryan, New-York</p>
      </li>
    </ul>
  </div>
</section>
