<section class="reviews">
    <h2 class="reviews__title visually-hidden">Customer Reviews</h2>
    <div class="container">
        <ul class="slick-js">
            <li>
                <picture>
                    <source media="(min-width: 1200px)" srcset="
                       ./images/images/reviews/photo1-desctop.webp 1x,
                       ./images/images/reviews/photo1-desctop@2x.webp 2x" type="image/webp">
                    <source media="(min-width: 1200px)" srcset="
                        ./images/images/reviews/photo1-desctop.png 1x,
                        ./images/images/reviews/photo1-desctop@2x.png 2x" type="image/png">
                    <source media="(min-width: 768px)" srcset="
                        ./images/images/reviews/photo1-tablet.webp 1x,
                        ./images/images/reviews/photo1-tablet@2x.webp 2x" type="image/webp">
                    <source media="(min-width: 768px)" srcset="
                        ./images/images/reviews/photo1-tablet.png 1x,
                        ./images/images/reviews/photo1-tablet@2x.png 2x" type="image/png">
                    <source media="(max-width: 767px)" srcset="
                        ./images/images/reviews/photo1-smart.webp 1x,
                        ./images/images/reviews/photo1-smart@2x.webp 2x" type="image/webp">
                    <source media="(max-width: 767px)" srcset="
                        ./images/images/reviews/photo1-smart.png 1x,
                        ./images/images/reviews/photo1-smart@2x.png 2x" type="image/png">
                    <img src="./images/images/reviews/photo1-smart.png" alt="Emily photo"
                        class="reviews__testimonials-img">
                </picture>
                <p class="reviews__testimonials">
                    I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In addition, you
                    have beautiful
                    serving, cozy atmosphere and polite staff.
                </p>
                <p class="reviews__testimonials-name">
                    Emily, Los Angeles
                </p>
            </li>
            <li>
                <picture>
                    <source media="(min-width: 1200px)" srcset="
                           ./images/images/reviews/photo2-desctop.webp 1x,
                           ./images/images/reviews/photo2-desctop@2x.webp 2x" type="image/webp">
                    <source media="(min-width: 1200px)" srcset="
                            ./images/images/reviews/photo2-desctop.png 1x,
                            ./images/images/reviews/photo2-desctop@2x.png 2x" type="image/png">
                    <source media="(min-width: 768px)" srcset="
                            ./images/images/reviews/photo2-desctop.webp 1x,
                            ./images/images/reviews/photo2-desctop@2x.webp 2x" type="image/webp">
                    <source media="(min-width: 768px)" srcset="
                            ./images/images/reviews/photo2-desctop.png 1x,
                            ./images/images/reviews/photo2-desctop@2x.png 2x" type="image/png">
                    <source media="(max-width: 767px)" srcset="
                            ./images/images/reviews/photo2-desctop.webp 1x,
                            ./images/images/reviews/photo2-desctop@2x.webp 2x" type="image/webp">
                    <source media="(max-width: 767px)" srcset="
                            ./images/images/reviews/photo2-desctop.png 1x,
                            ./images/images/reviews/photo2-desctop@2x.png 2x" type="image/png">
                    <img src="./images/images/reviews/photo2-desctop.png" alt="Sam photo"
                        class="reviews__testimonials-img">
                </picture>
                <p class="reviews__testimonials">
                    I love eating popsicles on a hot day. Yours is always delicious. I recommend your cafe to everyone I
                    know.
                </p>
                <p class="reviews__testimonials-name">
                    Sam, Los Angeles
                </p>
            </li>
            <li>
                <picture>
                    <source media="(min-width: 1200px)" srcset="
                           ./images/images/reviews/photo3-desctop.webp 1x,
                           ./images/images/reviews/photo3-desctop@2x.webp 2x" type="image/webp">
                    <source media="(min-width: 1200px)" srcset="
                            ./images/images/reviews/photo3-desctop.png 1x,
                            ./images/images/reviews/photo3-desctop@2x.png 2x" type="image/png">
                    <source media="(min-width: 768px)" srcset="
                            ./images/images/reviews/photo3-desctop.webp 1x,
                            ./images/images/reviews/photo3-desctop@2x.webp 2x" type="image/webp">
                    <source media="(min-width: 768px)" srcset="
                            ./images/images/reviews/photo3-desctop.png 1x,
                            ./images/images/reviews/photo3-desctop@2x.png 2x" type="image/png">
                    <source media="(max-width: 767px)" srcset="
                            ./images/images/reviews/photo3-desctop.webp 1x,
                            ./images/images/reviews/photo3-desctop@2x.webp 2x" type="image/webp">
                    <source media="(max-width: 767px)" srcset="
                            ./images/images/reviews/photo3-desctop.png 1x,
                            ./images/images/reviews/photo3-desctop@2x.png 2x" type="image/png">
                    <img src="./images/images/reviews/photo3-desctop.png" alt="Diana photo"
                        class="reviews__testimonials-img">
                </picture>
                <p class="reviews__testimonials">
                    Ice cream is my passion! I love your chocolate hazelnut ice cream! And I really like the excellent
                    service - always
                    served politely and quickly!
                </p>
                <p class="reviews__testimonials-name">
                    Diana, Chicago
                </p>
            </li>
            <li>
                <picture>
                    <source media="(min-width: 1200px)" srcset="
                           ./images/images/reviews/photo4-desctop.webp 1x,
                           ./images/images/reviews/photo4-desctop@2x.webp 2x" type="image/webp">
                    <source media="(min-width: 1200px)" srcset="
                            ./images/images/reviews/photo4-desctop.png 1x,
                            ./images/images/reviews/photo4-desctop@2x.png 2x" type="image/png">
                    <source media="(min-width: 768px)" srcset="
                            ./images/images/reviews/photo4-desctop.webp 1x,
                            ./images/images/reviews/photo4-desctop@2x.webp 2x" type="image/webp">
                    <source media="(min-width: 768px)" srcset="
                            ./images/images/reviews/photo4-desctop.png 1x,
                            ./images/images/reviews/photo4-desctop@2x.png 2x" type="image/png">
                    <source media="(max-width: 767px)" srcset="
                            ./images/images/reviews/photo4-desctop.webp 1x,
                            ./images/images/reviews/photo4-desctop@2x.webp 2x" type="image/webp">
                    <source media="(max-width: 767px)" srcset="
                            ./images/images/reviews/photo4-desctop.png 1x,
                            ./images/images/reviews/photo4-desctop@2x.png 2x" type="image/png">
                    <img src="./images/images/reviews/photo4-desctop.png" alt="Bryan photo"
                        class="reviews__testimonials-img">
                </picture>
                <p class="reviews__testimonials">
                    Every day we come to you with friends after classes in college. We love your ice cream and casual
                    atmosphere!
                </p>
                <p class="reviews__testimonials-name">
                    Bryan, New-York
                </p>
            </li>
        </ul>
    </div>

</section>