.button {
  display: inline-block;
  border: transparent;
  background-color: transparent;
  font-family: inherit;
  cursor: none !important;
}

.button__products {
  border: 2px solid var(--accent-color);
  color: var(--text-dark);

  &:hover {
    border-color: var(--button-green);
  }

  &:focus {
    border-color: var(--button-green);
    color: var(--text-light);
  }

  @media screen and (max-width: 1199px) {
    @include button($border-radius: 8px, $font-weight: 600, $font-size: 8px, $line-height: 10px);
    min-width: 62px;
    padding: 4px 10px;
  }

  @media screen and (min-width: 1200px) {
    @include button();
    min-width: 134px;
    padding: 12px 34px;
  }
}

.button__how-made {
  color: var(--accent-color);
  text-decoration: underline;

  &:hover {
    color: var(--button-green);
  }

  &:focus {
    color: var(--text-light);
  }

  @media screen and (max-width: 1199px) {
    @include button($border-radius: 8px, $font-weight: 600, $font-size: 8px, $line-height: 10px);
    min-width: 83px;
    padding: 4px 10px;
  }

  @media screen and (min-width: 1200px) {
    @include button();
    min-width: 154px;
    padding: 12px 21px;
  }
}

.button__read-more {
  @include button();
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  min-width: 164px;
  // height: 42px;
  padding: 12px 34px;
  padding-right: 22px;
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}
.button__read-more:hover {
  background-color: var(--button-green);
  border-color: var(--button-green);
  // cursor: none !important;
}
.button__read-more:focus {
  background-color: var(--button-green);
  color: var(--text-light);
  fill: var(--text-light);
}

.button__locations {
  @include button();
  background-color: var(--accent-color);
  color: var(--text-dark);
  padding: 12px 34px;
  min-width: 196px;

  &:hover {
    background-color: var(--button-green);
  }

  &:focus {
    background-color: var(--button-green);
    color: var(--text-light);
  }
}

.button__franchise {
  @include button();
  border: 2px solid var(--accent-color);
  color: var(--text-dark);
  padding: 12px 46px;
  min-width: 196px;

  &:hover {
    border-color: var(--button-green);
  }

  &:focus {
    border-color: var(--button-green);
    color: var(--text-light);
  }
}

.button__buy-now {
  @include button();
  background-color: var(--accent-color);
  color: var(--text-dark);
  padding: 12px 34px;
  min-width: 152px;

  &:hover {
    background-color: var(--button-green);
  }

  &:focus {
    background-color: var(--button-green);
    color: var(--text-light);
  }
}
