.button {
  display: inline-block;
  border: transparent;
  background-color: transparent;
  font-family: inherit;
  cursor: none !important;
}

.button__products {
  border: 2px solid var(--accent-color);
  font-style: normal;
  font-weight: 600;
  color: var(--text-dark);

  &:hover {
    border-color: var(--button-green);
  }

  &:focus {
    border-color: var(--button-green);
    color: var(--text-light);
  }

  @media screen and (max-width: 1199px) {
    font-size: 8px;
    line-height: 1.25;
    border-radius: 8px;
    padding: 4px 9px;
    min-width: 62px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.28;
    border-radius: 10px;
    padding: 12px 34px;
    min-width: 134px;
  }
}

.button__read-more {
  min-width: 164px;
  padding: 12px 34px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  background-color: var(--accent-color);
  border-radius: 10px;

  &:hover {
    background-color: var(--button-green);
  }

  &:focus {
    background-color: var(--button-green);
    color: var(--text-light);
  }
}

.button__buy-now {
  background-color: var(--accent-color);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  color: var(--text-dark);
  padding: 12px 34px;
  min-width: 152px;
  border-radius: 10px;

  &:hover {
    background-color: var(--button-green);
  }

  &:focus {
    background-color: var(--button-green);
    color: var(--text-light);
  }
}


.button__how-made {
  font-style: normal;
  font-weight: 600;
  color: var(--accent-color);

  &:hover {
    color: var(--button-green);
  }

  &:focus {
    color: var(--text-light);
  }

  @media screen and (max-width: 1199px) {
    font-size: 8px;
    line-height: 10px;
    border-radius: 8px;
    padding: 4px 10px;
  min-width: 83px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.28;
    border-radius: 10px;
    padding: 12px 22px;
  min-width: 154px;
  }
}

.button__locations {
  background-color: var(--accent-color);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  color: var(--text-dark);
  padding: 12px 34px;
  min-width: 196px;
  border-radius: 10px;

  &:hover {
    background-color: var(--button-green);
  }

  &:focus {
    background-color: var(--button-green);
    color: var(--text-light);
  }
}

.button__franchise {
  border: 2px solid var(--accent-color);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  color: var(--text-dark);
  padding: 12px 46px;
  min-width: 196px;
  border-radius: 10px;

  &:hover {
    border-color: var(--button-green);
  }

  &:focus {
    border-color: var(--button-green);
    color: var(--text-light);
  }
}

