.button {
  display: inline-block;
  border: transparent;
  background-color: transparent;
  font-family: inherit;
  cursor: pointer;
}

.button__products {
  border: 2px solid var(--accent-color);
  font-style: normal;
  font-weight: 600;
  color: var(--text-dark);
  padding: 12px 34px;
  min-width: 134px;

  &:hover {
    border-color: var(--button-green);
  }

  &:focus {
    border-color: var(--button-green);
    color: var(--text-light);
  }

  @media screen and (max-width: 1199px) {
    font-size: 8px;
    line-height: 1.25;
    border-radius: 8px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.28;
    border-radius: 10px;
  }
}

.button__read-more {
  display:inline-flex;
  align-items: center;
  text-align: center;
  min-width: 164px;
  height: 42px;
  padding: 12px 34px;
  column-gap: 5px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  background-color: var(--accent-color);
  border-radius: 10px;
  border-color: var(--accent-color);
  
} 
   .button__read-more:hover {
  background-color: var(--button-green);
  border-color: var(--button-green);
  cursor: pointer;
}
    .button__read-more:focus {
    background-color: var(--button-green);
    color: var(--text-light);
    fill: var(--text-light);
    }
 


.button__how-made {
  font-style: normal;
  font-weight: 600;
  color: var(--accent-color);
  padding: 12px 22px;
  min-width: 154px;

  &:hover {
    color: var(--button-green);
  }

  &:focus {
    color: var(--text-light);
  }

  @media screen and (max-width: 1199px) {
    font-size: 8px;
    line-height: 10px;
    border-radius: 8px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.28;
    border-radius: 10px;
  }
}

.button__locations {
  background-color: var(--accent-color);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  color: var(--text-dark);
  padding: 12px 34px;
  min-width: 196px;
  border-radius: 10px;

  &:hover {
    background-color: var(--button-green);
  }

  &:focus {
    background-color: var(--button-green);
    color: var(--text-light);
  }
}

.button__franchise {
  border: 2px solid var(--accent-color);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  color: var(--text-dark);
  padding: 12px 46px;
  min-width: 196px;
  border-radius: 10px;

  &:hover {
    border-color: var(--button-green);
  }

  &:focus {
    border-color: var(--button-green);
    color: var(--text-light);
  }
}

.button__buy-now {
  background-color: var(--accent-color);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  color: var(--text-dark);
  padding: 12px 34px;
  min-width: 152px;
  border-radius: 10px;

  &:hover {
    background-color: var(--button-green);
  }

  &:focus {
    background-color: var(--button-green);
    color: var(--text-light);
  }
}
