.container {
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

// @media screen and (min-width: 320px) {
//   .container {
//     width: 320px;
//     padding-left: 20px;
//     padding-right: 20px;
//     overflow-x: hidden;
//   }
// }

// @media screen and (min-width: 480px) {
//   .container {
//     width: 480px;
//     padding-left: 20px;
//     padding-right: 20px;
//   }
// }

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
