.backdrop-about-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity var(--easeInBack), visibility var(--easeInBack);

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }

  background-color: var(--modal-backdrop-green);
}

.about-modal {
  font-family: 'Montserrat';
  color: var(--text-dark);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: var(--background-main);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border: 2px solid var(--accent-color);
  border-radius: 10px;
  padding: 28px;

  @media screen and (max-width: 319px) {
    width: 280px;
  }

  @media screen and (min-width: 320px) and (max-width: 479px) {
    width: 95%;
  }
  @media screen and (min-width: 480px) {
    width: 456px;
  }

  @media screen and (min-width: 768px) {
    width: 568px;
    padding: 32px 60px;
  }
}

.about-modal__close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  width: 20px;
  height: 20px;
  border: 0;
}

.about-modal__close-icon {
  fill: #000000;
  width: 20px;
  height: 20px;
  transition: fill var(--easeInBack);

  .about-modal__close-btn:hover &,
  .about-modal__close-btn:focus & {
    fill: var(--accent-color);
  }
}

.about-modal-form {
  width: 100%;
  height: 100%;
  z-index: 55;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-modal-form__title {
  @include fontHeading(
    $line-height: 24px,
    $font-size: 16px,
    $letter-spacing: 0,
    $text-transform: none
  );
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    @include fontHeading(
      $line-height: 28px,
      $font-size: 20px,
      $letter-spacing: 0,
      $text-transform: none
    );
    margin-bottom: 32px;
  }
}

.about-modal-form__video {
  width: 224px;
  height: 199px;
  background: var(--text-dark);
  border-radius: 10px;
  margin-bottom: 20px;
  @media screen and (min-width: 320px) and (max-width: 479px) {
    width: 100%;
    height: auto;
  }
  @media screen and (min-width: 480px) {
    width: 396px;
    height: auto;
    margin-bottom: 32px;
  }
  @media screen and (min-width: 768px) {
    width: 448px;
    height: 205px;
    margin-bottom: 32px;
  }
}

.about-modal-form__text {
  @include font(20, 400, 14, -0.01em);

  @media screen and (min-width: 768px) {
    @include font(22, 400, 16, 0);
  }
}
