.about{
    background-color: var(--green-section-background);
    width: 100%;
}
.about__img {
background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
    
}
//max 768px
@media screen and (max-width: 768px) {
  .cow {
    width:320px ;
    padding-top: 60px;
    padding-bottom: 21px;
  }

  .about__subtitle {
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: var(--text-light);
  }
  .about__heading {
    margin-bottom:32px;
    font-family: 'Seymour One';
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    text-align: center;
    text-transform: uppercase;
    color: var(--text-light);
  }

  .about__img {
    object-fit: contain;
    object-position:0 22px ;
     width:278px ;
     height:300px ;
    margin-left: auto;
    margin-right: auto;
box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
    border-radius: 140.182px;
  }

  .about__text-three {
    display: none;
  }

  .about__text {
    max-width: 220px;
    margin-top: 40px;
    margin-bottom: 20px;
    color: var(--text-light);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .about__text-one {
    line-height: 1.75;
    margin-bottom: 4px;
  }

  .about__text-two {
    font-size: 11px;
    line-height: 173%;
  }
  .cow-button{
text-align: center;
  }
}
 //min-width 768px          
@media screen and (min-width:768px){
  .cow{
     margin-top: auto;
     margin-bottom: auto;
    padding-top:60px; 
    padding-bottom: 48px; 
  }

  .about__subtitle{
    font-weight: 800;
    font-size: 22px;
    line-height:1.23;
    text-align: center;
    text-transform: uppercase;
    color: var(--text-light);
    margin-bottom: 12px;
  }

.about__heading{
    font-family: 'Seymour One';
    font-weight: 400;
    font-size: 34px;
    line-height: 43px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color:var(--text-light);
    margin-bottom: 72px;
}
.about__img{
    object-fit: contain;
    object-position: 0 26px;
    width: 336px;
    height: 355px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 5.30813px 19.9055px rgba(153, 114, 23, 0.25);
    border-radius: 165.879px;
}
.about__pic{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.about__text{ 
  margin-top: 0;
  text-align: left;
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 334px;
    padding-top: 7px;
}
.about__text-three{
    display: block;
}
.about__text-three {
    line-height: 1.92;
    color: var(--text-light);
}
.about__text-one,
.about__text-two{
        font-weight: 400;
        font-size: 12px;
        line-height:1.75;
         color: var(--text-light);
}
.cow-button{
    margin-left: 370px;
    margin-top: -45px;
}
}
//min 1200px
@media screen and (min-width:1200px){

.cow{
    
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 60px;
    padding-bottom: 60px;
}
  .about__subtitle{
        font-weight: 800;
        font-size: 30px;
        line-height: 1.23;
        text-align: center;
  } 
  .about__heading{
        font-family: 'Seymour One';
        font-weight: 400;
        font-size: 36px;
        line-height: 1.25;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        margin-bottom: 82px;
  } 
  .about__img {
      object-fit: contain;
      object-position: 0 39px;
      width: 500px;
      height: 529px;
      margin-left: auto;
      margin-right: auto;
        box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
        border-radius: 250px;
} 
.about__text {
    max-width: 463px;
    margin-top: 90px;

}
.about__pic{
    justify-content: flex-start;
    column-gap: 100px;
}
.about__text-one{
    font-size: 16px;
        line-height:1.75;
}
.about__text-two,
.about__text-three{
        font-size: 13px;
        line-height:1.93;     
}
.cow-button{
    margin-top: -140px;
    margin-left:600px ;
}
}
        