.backdrop {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
  // overflow-x: scroll;
  // overflow: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  // position: relative;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 280px;
  // max-width: 80vh;
  // height: 986px;
  height: 100vh;
  background: #fcfcfc;
  border: 2px solid #f8d24e;
  border-radius: 10px;
  padding: 0px 0px;
  // overflow-y: scroll;
}

.close-button {
  position: absolute;
  z-index: 4;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  background: transparent;
  border: none;
  padding: 0;
  &:hover,
  &:focus {
    cursor: none !important;
  }
}

.order-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  height: 100%;
  width: 100%;
  padding: 28px;
  overflow: scroll;
}

.order-form__title {
  margin-bottom: 53px;
  font-family: 'Seymour One';
  font-size: 20px;
  line-height: 1.4;
  text-align: center;

  @media screen and (min-width: 320px) {
    margin-bottom: 113px;
  }
}

.order-form__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 86px;
  // margin-bottom: 4px;
  transform: scale(1);

  @media screen and (min-width: 320px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
  }
}

.order-form__item {
  display: flex;
  justify-content: center;
  width: 132px;
  // height: 135px;
  // width: 100%;

  filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
  border-radius: 15.7808px;

  &--one {
    border: 2px solid #96af8c;
  }

  &--two {
    border: 2px solid #efd478;
  }

  &--three {
    border: 2px solid #d6936d;
  }
  &:hover,
  &:focus {
    cursor: none !important;
  }
}

.order-form__check:checked ~ .order-form__item--one {
  background-color: #96af8c;
}

.order-form__check:checked ~ .order-form__item--two {
  background-color: #efd478;
}

.order-form__check:checked ~ .order-form__item--three {
  background-color: #d6936d;
}

.order-form__product {
  width: 131.13px;
  height: 130.6px;
  text-align: center;
  border-radius: 150px;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-50%);
  &::before {
    position: relative;
    z-index: 3;
    bottom: 8px;
  }
}

.order-form__product--cream {
  background: linear-gradient(
      0deg,
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
  &::before {
    content: url(../images/images/modal-buy/buycream-desctop.png);
  }
}

.order-form__product--coffee {
  background: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
  &::before {
    content: url(../images/images/modal-buy/buycoffee-desctop.png);
  }
}

.order-form__product--shake {
  background: linear-gradient(
      0deg,
      rgba(213, 117, 63, 0.7),
      rgba(213, 117, 63, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
  &::before {
    content: url(../images/images/modal-buy/buymilk-desctop.png);
  }
}

@media screen and (max-width: 767px) {
  .order-form__product--cream::before {
    content: url(../images/images/modal-buy/buycream-smart.webp);
  }

  .order-form__product--coffee::before {
    content: url(../images/images/modal-buy/buycoffee-smart.webp);
  }

  .order-form__product--shake::before {
    content: url(../images/images/modal-buy/buymilk-smart.webp);
  }
}

.order-form__product-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-top: 20px;
}

.order-form__input-field::placeholder,
.order-form__comment-field::placeholder,
.order-form__input-field,
.order-form__comment-field {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  resize: none;
  font-size: 14px;
  line-height: 1.4;
  color: #131313;
}

.order-form__input-field {
  padding: 11px 16px;
  width: 100%;
  height: 32px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
  margin-bottom: 10px;
}

.order-form__comment-field {
  padding: 11px 16px;
  resize: none;
  width: 100%;
  min-height: 65px;
  // margin-bottom: 10px;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84a178;
  border-radius: 10px;
}

.submit-button {
  width: 121px;
  height: 42px;
  background: #f8d24e;
  border-radius: 10px;
  border: none;
  padding: 12px;
  font-weight: 600;
  line-height: 1.22;
  text-align: center;
  margin-top: 24px;
  &:hover,
  &:focus {
    background-color: var(--button-green);
    cursor: none !important;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    max-width: 568px;
    height: 644px;
    padding: 0px 0px;
  }

  .order-form {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-right: 54px;
    padding-left: 54px;
  }

  .order-form__menu {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 40px;
    transform: scale(1);
  }

  .submit-button {
    margin-top: 32px;
  }

  .order-form__input-field {
    height: 42px;
  }

  .order-form__comment-field {
    height: 84px;
  }

  .order-form__product--cream::before {
    content: url(../images/images/modal-buy/buycream-desctop.webp);
  }

  .order-form__product--coffee::before {
    content: url(../images/images/modal-buy/buycoffee-desctop.webp);
  }

  .order-form__product--shake::before {
    content: url(../images/images/modal-buy/buymilk-desctop.webp);
  }
}
