.backdrop {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow-y: scroll;
    overflow-x: scroll;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 568px;
    height: 644px;    
    background: #FCFCFC;
    border: 2px solid #F8D24E;
    border-radius: 10px;
    padding: 32px 54px;
}

.close-button{
    position: absolute;
    z-index: 4;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    background: transparent;
    border: none;
    padding: 0;
    &:hover,
    &:focus {
    cursor: url(../images/images/icon/cow.png), auto;
    }
}

.order-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.order-form__title{
    margin-bottom: 103px;
    font-family: 'Seymour One';
    font-size: 20px;
    line-height: 1.4;
    text-align: center;
}

.order-form__menu{
    display: flex;
    align-items: center;
    gap: 32px;
    margin-bottom: 40px;
}

.order-form__item{
    display: flex;
    justify-content: center;
    width: 132px;
    height: 135px;
    filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
    border-radius: 15.7808px;
   
    &--one{
        border: 2px solid #96AF8C;
    }

    &--two{
        border: 2px solid #EFD478;
    }

    &--three{
        border: 2px solid #D6936D;
    }
    &:hover,
    &:focus{
        cursor: url(../images/images/icon/cow.png), auto;
    }
}

.order-form__check:checked~.order-form__item--one{
background-color: #96AF8C;
}

.order-form__check:checked~.order-form__item--two {
    background-color: #EFD478;
}

.order-form__check:checked~.order-form__item--three {
    background-color: #D6936D;
}

.order-form__product{
    width: 131.13px;
    height: 130.6px;
    text-align: center;
    border-radius: 150px;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-50%);
    &::before{
        position: relative;
        z-index: 3;
        bottom: 8px;
    }
}

.order-form__product--cream{
    background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
    box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);;
    &::before{
        content: url(../images/images/modal-buy/buycream-desctop.png) ;
    }
}

.order-form__product--coffee {
    background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
    box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
    &::before {
        content: url(../images/images/modal-buy/buycoffee-desctop.png);
    }
}

.order-form__product--shake {
    background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #D9D9D9;
    box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
    &::before {
        content: url(../images/images/modal-buy/buymilk-desctop.png);
    }
}

@media screen and (max-width: 768px) {
    .order-form__product--cream::before {
        content: url(../images/images/modal-buy/buycream-smart.webp);
    }

    .order-form__product--coffee::before {
        content: url(../images/images/modal-buy/buycoffee-smart.webp);
    }

    .order-form__product--shake::before {
        content: url(../images/images/modal-buy/buymilk-smart.webp);
    }
}

// @media screen and (max-width: 768px) and (min-device-pixel-ratio: 2),
// screen and (max-width: 768px) and (min-resolution: 192dpi),
// screen and (max-width: 768px) and (min-resolution: 2dppx) {
// .order-form__product--cream::before {
//             content: url(../images/images/modal-buy/buycream-smart@2x.webp);
//         }
// .order-form__product--coffee::before {
//             content: url(../images/images/modal-buy/buycoffee-smart@2x.webp);
//         }
// .order-form__product--shake::before {
//             content: url(../images/images/modal-buy/buymilk-smart@2x.webp);
//         }
// }

// @media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
// screen and (min-width: 1200px) and (min-resolution: 192dpi),
// screen and (min-width: 1200px) and (min-resolution: 2dppx) {
//     .order-form__product--cream::before {
//         content: url(../images/images/modal-buy/buycream-desctop@2x.webp);        
//     }

//     .order-form__product--coffee::before {
//         content: url(../images/images/modal-buy/buycoffee-desctop@2x.webp);
//     }

//     .order-form__product--shake::before {
//         content: url(../images/images/modal-buy/buymilk-desctop@2x.webp);
//     }
// }

.order-form__product-name{    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;    
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-top: 20px;
}

.order-form__input-field::placeholder, 
.order-form__comment-field::placeholder,
.order-form__input-field,
.order-form__comment-field{    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: #131313;
}

.order-form__input-field{
    padding: 11px 16px;
    width: 368px;
    height: 42px;    
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84A178;
    border-radius: 10px;
    margin-bottom: 10px;
}

.order-form__comment-field{
    padding: 11px 16px;
    resize: none;
    width: 368px;
    height: 84px;
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84A178;
    border-radius: 10px;
}

.submit-button{
 width: 121px;
 height: 42px;
 background: #F8D24E;
 border-radius: 10px;
 border: none;
 padding: 12px;
 font-weight: 600;
 line-height: 1.22;
 text-align: center;
 margin-top: auto;
 &:hover,
 &:focus{
    background-color: var(--button-green);
    cursor: url(../images/images/icon/cow.png), auto;
 }
}