.page-header {
  position: fixed;
  width: 100%;
  z-index: 99;

  @media screen and (max-width: 767px) {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.header-bgc {
  background-image: linear-gradient(
    to right,
    #84a178 15%,
    rgba(161, 120, 132, 0.7) 40%,
    rgba(132, 161, 120, 0.6) 75%,
    rgba(213, 117, 63, 0.7)
  );
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-buttons {
  display: flex;
  column-gap: 32px;
}

.logo {
  cursor: none !important;
}

.header-nav {
  display: flex;
  align-items: center;
}

// 0px - 1199px
@media screen and (max-width: 1199px) {
  .pages-nav-menu {
    display: none;
  }

  .open-mobile-menu-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
    transition-property: fill;
    transition: fill var(--transition-dur-and-func);

    &:focus,
    &:hover {
      fill: var(--accent-text-color);
      cursor: none !important;
    }
  }

  .open-mobile-menu-btn__icon {
    width: 32px;
    height: 32px;
  }
}

// 0 - 767px
@media screen and (max-width: 767px) {
  .button__buy-now {
    display: none;
  }
}

// 768px +
@media screen and (min-width: 768px) {
  .button__buy-now {
    transition: background-color var(--easeOutCirc), color var(--easeOutCirc);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .buy-now-icon {
    width: 12px;
    height: 12px;
    transition: fill var(--easeOutCirc);

    .button__buy-now:focus & {
      fill: var(--text-light);
    }
  }
}

// 1200px +
@media screen and (min-width: 1200px) {
  .header-nav__logo {
    margin-right: 269px;
  }

  .pages-nav-menu {
    display: flex;
    column-gap: 27px;
  }

  .pages-nav-menu__link {
    @include font($line-height: 20px, $font-weight: 700, $font-size: 16px);
    color: var(--text-light);
    padding-top: 10px;
    padding-bottom: 10px;

    transition: color var(--easeOutCirc);

    &:hover,
    &:focus {
      color: var(--accent-color);
      cursor: none !important;
    }
  }

  .pages-nav-menu__link--current {
    color: var(--accent-color);
  }

  .open-mobile-menu-btn {
    display: none;
  }
}
