.page-header {
  position: fixed;
  width: 100%;
  z-index: 99;
}

.header-bgc {
  background-image: linear-gradient(to right,
      #84a178 15%,
      rgba(161, 120, 132, 0.7) 40%,
      rgba(132, 161, 120, 0.6) 75%,
      rgba(213, 117, 63, 0.7));
}

.header-position {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
}

.header-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
}

.logo {
  cursor: none !important;
}

.header-nav {
  display: flex;
}

.pages-nav__item {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;

  display: flex;
  align-items: center;
  padding-top: 23px;

  color: var(--text-light);
}

// 0px - 767px
@media screen and (max-width: 767px) {
  .pages-nav {
    display: none;
  }

  .contact-list {
    display: none;
  }
}

.open-mobile-menu-btn {
  line-height: 0;
  border: none;
  background-color: transparent;
  padding: 0;
  margin-left: auto;

  &:focus,
  &:hover {
    fill: var(--accent-text-color);
    transition: fill var(--transition-dur-and-func);
    cursor: none !important;
  }
}

.open-mobile-menu-btn__icon {
  width: 32px;
  height: 32px;
}

// 768px - 1200px
@media screen and (min-width: 768px) {
  .header-position {
    align-items: center;
    padding-top: 2px;
    padding-bottom: 10px;
  }

  .open-mobile-menu-btn {
    line-height: 0;
    border: none;
    background-color: transparent;
    padding: 0;

    &:focus,
    &:hover {
      fill: var(--accent-text-color);
      transition: fill var(--transition-dur-and-func);
      cursor: none !important;
    }
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .header-buttons {
    padding-top: 10px;
  }

  .pages-nav {
    display: none;
  }
}

// 1200px - etc.
@media screen and (min-width: 1200px) {
  .header-position {
    padding-top: 2px;
    padding-bottom: 13px;
  }
  .header-nav {
    display: flex;
    align-items: center;
  }

  .header-nav__logo {
    margin-right: 269px;
  }

  .pages-nav {
    display: flex;
    column-gap: 27px;
  }

  .navigation-link {
    color: var(--text-light);
    text-decoration: none;
    font-weight: 700;
    line-height: 20px;
    padding-top: 5px;
    padding-bottom: 5px;

    transition: color var(--easeOutCirc);

    &:hover,
    &:focus {
      color: var(--accent-color);
      cursor: none !important;
    }
  }

  .open-mobile-menu-btn {
    display: none;
  }
}

// Buy Now Button
@media screen and (max-width: 767px) {
  .button__buy-now {
    display: none;
  }
}

// 768px +
@media screen and (min-width: 768px) {
  .button__buy-now {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 32px;
    transition: background-color var(--easeOutCirc), color var(--easeOutCirc), fill var(--easeOutCirc);

    &:focus {
      .buy-now-icon {
        fill: var(--text-light);
      }
    }
  }

  .buy-now-icon {
    width: 12px;
    height: 12px;
    margin-left: 6px;
  }
}

// 1200px
@media screen and (min-width: 1200px) {
  .button__buy-now {
    margin-left: auto;
  }
}