// ============ DISPLAY NONE ==============
@media screen and (max-width: 767px) {
  .hero-section-numbers-menu {
    display: none;
  }

  .hero__description {
    display: none;
  }

  .item__plate {
    display: none;
  }
}
// ============ /DISPLAY NONE ==============

@media screen and (min-width: 768px) {
  .hero-section__menu {
    display: flex;
    justify-content: space-between;
  }
}

.hero-section {
  background-color: var(--green-section-background);
  height: 502px;

  @media screen and (min-width: 768px) {
    height: 415px;
  }

  @media screen and (min-width: 1200px) {
    height: 664px;
  }
}

.hero-container {
  position: relative;
  padding-top: 50px;
  height: 442px;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    padding-top: 44px;
    height: 355px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 58px;
    height: 604px;
  }
}

.hero-section__title {
  @include font($line-height: 33px, $font-size: 26px);
  font-family: "Seymour One";
  text-transform: uppercase;
  color: var(--text-light);
  width: 247px;
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    @include font($line-height: 23px, $font-size: 18px);
    width: 181px;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1200px) {
    @include font($line-height: 48px, $font-size: 38px);
    width: 367px;
  }
}

.hero-section__title--span {
  @include font($line-height: 33px, $font-size: 34px);

  @media screen and (min-width: 768px) {
    @include font($line-height: 13px, $font-size: 24px);
    font-size: 24px;
    line-height: 0.96;
  }
  @media screen and (min-width: 1200px) {
    @include font($line-height: 48px, $font-size: 38px);
  }
}
// ======== BUTTONS ======
.buttons-menu {
  display: flex;
  column-gap: 8px;

  @media screen and (min-width: 1200px) {
    column-gap: 12px;
  }
}

.buttons-menu__item {
  z-index: 5;
}
// ======== /BUTTONS ======

// ====== ABSOLUT ELEMETNS  ==========
.item__ball {
  position: absolute;
  // content: "";
  bottom: 0;
  left: 0;
  z-index: 1;
}

.item__shadow {
  position: absolute;
  // content: "";
  bottom: 0;
  left: 25;
  z-index: 2;
  height: 270px;
}

.item__ice {
  position: absolute;
  // content: "";
  bottom: 0;
  left: 85;
  z-index: 3;
}

.item__smile {
  position: absolute;
  // content: "";
  bottom: 50;
  left: 100;
  z-index: 4;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .item__ball {
    bottom: 0;
    left: 100;
  }

  .item__shadow {
    bottom: 0;
    left: 125;
  }

  .item__ice {
    bottom: 0;
    left: 185;
  }

  .item__smile {
    bottom: 50;
    left: 200;
  }
}

@media screen and (min-width: 768px) {
  .item__plate {
    display: block;
    position: absolute;
    // content: "";
    bottom: 13;
    left: 32;
    z-index: 2;
  }

  .item__ball {
    bottom: 0;
    left: 15;
  }

  .item__shadow {
    bottom: 110;
    left: 360;
  }

  .item__ice {
    bottom: 0;
    left: 415;
    width: 300px;
  }

  .item__smile {
    bottom: 5;
    left: 420;
    z-index: 4;
  }
}

@media screen and (min-width: 1200px) {
  .item__plate {
    bottom: 65;
    left: 20;
  }

  .item__ball {
    bottom: 0;
    left: 0;
  }

  .item__shadow {
    bottom: 330;
    left: 530;
  }

  .item__ice {
    bottom: 0;
    left: 650;
    width: 400px;
  }

  .item__smile {
    bottom: 120;
    left: 690;
  }
}
// ====== /ABSOLUT ELEMETNS ==========

// ===== NUMBERS =====
@media screen and (min-width: 768px) {
  .hero-section-numbers-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (min-width: 1200px) {
      gap: 16px;
    }
  }
}

.hero-section-numbers__text-first {
  @media screen and (min-width: 768px) {
    @include font($line-height: 34px, $font-weight: 900, $font-size: 28px);
    text-align: right;
    text-transform: uppercase;
    margin-bottom: 4px;
  }
  @media screen and (min-width: 1200px) {
    @include font($line-height: 56px, $font-weight: 900, $font-size: 46px);
  }
}

.hero-section-numbers__text-second {
  @media screen and (min-width: 768px) {
    @include font($line-height: 10px, $font-size: 8px);
    text-align: right;
    color: var(--background-main);
  }

  @media screen and (min-width: 1200px) {
    @include font($line-height: 17px);
  }
}
// ===== /NUMBERS =====

//======= HERO DESCRIPTION=======

@media screen and (min-width: 768px) {
  .hero__description {
    display: block;
    margin-left: 190px;
  }

  .hero__description--text {
    @include font($line-height: 17px, $font-size: 12px);
    width: 151px;
    color: var(--text-light);
    margin-top: 56px;
    margin-bottom: 20px;
  }

  //* Надо сделать кликабельной, z-index
  .hero__description-button {
    line-height: 0;
    border: none;
    background-color: transparent;
    padding: 0;

    cursor: none !important;

    transform: scale(1);
    transition-property: transform;
    transition: transform var(--easeInOutBack);

    &:hover {
      transform: scaleX(1.2);
    }

    &:focus {
      transform: scale(2);
    }
  }

  .hero__svg {
    width: 40px;
    height: 20px;
    fill: var(--text-light);
  }
}

@media screen and (min-width: 1200px) {
  .hero__description {
    margin-left: 240px;
  }

  .hero__description--text {
    @include font($line-height: 20px);
    width: 200px;
    margin-top: 120px;
    margin-bottom: 32px;
  }
}
//======= /HERO DESCRIPTION=======
