.hero {
  background-color: var(--green-section-background);
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .hero {
    position: relative;
    height: 450px;
  }
  .hero__title {
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 33px;
    text-transform: uppercase;
    color: #fcfcfc;
    width: 247px;
    height: 97px;
    text-align: left;
    margin-bottom: 30px;
  }
  .hero__title__span {
    font-size: 34px;
    line-height: 28px;
  }
  .hero__menu {
    display: flex;
  }

  .hero__btn {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 8px;
    line-height: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 6px 14px;
    background-color: inherit;
  }
  .hero__btn--first {
    color: var(--text-dark);
    border: 2px solid #f8d24e;
    border-radius: 8px;
    margin-right: 8px;
  }
  .hero__btn--second {
    color: var(--accent-color);
    border: none;
    padding: 8px 14px;
    text-decoration: underline;
  }
  .item__ball {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    z-index: 1;
  }
  .item__shadow {
    position: absolute;
    content: '';
    bottom: 0;
    left: 25;
    z-index: 2;
    height: 270px;
  }
  .item__ice {
    position: absolute;
    content: '';
    bottom: 0;
    left: 85;
    z-index: 3;
  }
  .item__smile {
    position: absolute;
    content: '';
    bottom: 50;
    left: 100;
    z-index: 4;
  }

  .hero__menu__numbers {
    display: none;
  }
  .hero__text {
    display: none;
  }
  .item__plate {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1200px;
  }
}
