// ************************************************************************************** MOBILE ************************************************************************************
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(#f8d24e, 0.2);
  transition: opacity var(--easeOutCirc), visibility var(--easeOutCirc);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-locations {
  position: absolute;
  padding: 28px 28px;
  background-color: var(--background-main);
  border: 2px solid var(--accent-color);
  border-radius: 10px;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 100%;
}

.backdrop-is-hidden {
  transform: translate(-50%, -50%) scale(1);
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  padding: 0;

  background-color: var(--background-main);
  border: none;
}

.modal-title-locations {
  font-family: 'Seymour One';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  /* identical to box height, or 150% */
  margin-bottom: 20px;

  text-align: center;

  color: var(--text-dark);
}

.photo-locations {
  display: block;
  height: 199px;
  margin: 0 auto;
}

.modal-link-locations {
  display: block;
  text-align: center;
  width: 134px;
  height: 42px;
  background-color: var(--accent-color);
  border-radius: 10px;
  padding: 12px 0;
  margin: auto;
  margin-top: 24px;

  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;

  color: var(--text-dark);
}

@media screen and (min-width: 320px) and (min-width: 479px) {
  .photo-locations {
    width: auto;
    height: 199px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 480px) {
  .modal-locations {
    width: 360px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
  }

  .backdrop-is-hidden {
    transform: translate(-50%, -50%) scale(1);
  }

  .photo-locations {
    display: block;
    width: 224px;
    height: 199px;
    margin: auto;
  }
}

// ************************************************************************************** TABLET ************************************************************************************

@media screen and (min-width: 768px) {
  .modal-locations {
    width: 568px;
    padding: 32px 60px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
  }

  .backdrop-is-hidden {
    transform: translate(-50%, -50%) scale(1);
  }

  .photo-locations {
    display: block;
    width: 100%;
    height: 260px;
  }
}

// ************************************************************************************** DESKTOP ************************************************************************************

@media screen and (min-width: 1200px) {
  .modal-close-btn {
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
  }

  .modal-title-locations {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 32px;
  }

  .modal-link-locations {
    display: block;
    text-align: center;
    line-height: 1.21;
    font-size: 14px;
    margin: auto;
    margin-top: 32px;
  }

  .photo-locations {
    display: block;
    width: 100%;
    height: 260px;
  }
}
