.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: var(--green-section-background);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateX(100%);

  transition: opacity var(--easeInOutBack), visibility var(--easeInOutBack), transform var(--easeInOutBack);

  &.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
  }
}

.mobile-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu__container {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 12px;
  padding-bottom: 60px;

  @media screen and (min-width: 768px) {
    padding-top: 20px;
  }
}

.mobile-menu__close-btn {
  position: absolute;
  top: 16px;
  right: 20px;
  border: 0;
  padding: 0;
  line-height: 0;
  background-color: transparent;
  fill: var(--text-light);
  cursor: none !important;

  transform: scale(1);
  transition-property: fill, transform;
  transition: transform var(--easeInOutBack), fill var(--easeInOutBack);

  &:hover,
  &:focus {
    transform: scale(1.2);
    fill: var(--accent-color);
  }

  @media screen and (min-width: 768px) {
    top: 32px;
    right: 32px;
  }
}

.mobile-menu__close-icon {
  width: 40px;
  height: 40px;
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

// .mobile-menu-logo {
//   width: 44.47px;
//   height: 37px;

//   @media screen and (min-width: 480px) {
//     width: 48px;
//     height: 44px;
//   }
// }

.mobile-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;

  margin-top: 51px;

  @media screen and (min-width: 768px) {
    margin-top: 76px;
    row-gap: 40px;
  }
}

.mobile-navigation-link {
  @include font($line-height: 39px, $font-weight: 700, $font-size: 32px);
  color: var(--text-light);
  transition: color var(--easeOutCirc);

  &:hover,
  &:focus {
    color: var(--text-dark);
    cursor: none !important;
  }

  // .mobile-navigation-link--current {
  //   color: var(--text-dark);
  // }

  @media screen and (min-width: 768px) {
    @include font($line-height: 59px, $font-weight: 700, $font-size: 48px);
  }
}

@media screen and (min-width: 1200px) {
  .mobile-menu {
    display: none;
  }
}

// Mobile menu button

.button__buy-now--mobile {
  transition: background-color var(--easeOutCirc), color var(--easeOutCirc);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.buy-now-icon-mobile {
  width: 12px;
  height: 12px;
  transition: fill var(--easeOutCirc);

  .button__buy-now--mobile:focus & {
    fill: var(--text-light);
  }
}

@media screen and (min-width: 768px) {
  .button__buy-now--mobile {
    display: none;
  }
}
