@media screen and (max-width: 1199px) {
    .mobile-menu {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        width: 100%;
        height: 100%;
        background-color: var(--green-section-background);

        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: opacity var(--easeInOutBack), visibility var(--easeInOutBack);

        &.is-open {
            transform: translateX(0);
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
        }
    }

    .mobile-wrapper {
        display: flex;
        flex-direction: column;
    }

    .mobile-menu__container {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 100%;


        padding-left: 20px;
        padding-right: 20px;

        @media screen and (min-width: 480px) {
            padding-left: 32px;
            padding-right: 32px;
        }
    }

    .mobile-menu__close-btn {
        position: absolute;
        background-color: transparent;
        border: 0;
        padding: 0;
        line-height: 0;
        fill: var(--text-light);
        top: 16px;
        right: 20px;
       

        @media screen and (min-width: 480px) {
            top: 32px;
            right: 32px;
        }
    }

    .mobile-menu__close-icon {
        width: 40px;
        height: 40px;

        transition: fill var(--easeInOutBack), scale var(--easeInOutBack);

        &:hover,
        &:focus {
            fill: var(--accent-color);
            transform: scale(1.2);
        }
    }

    .mobile-nav {
        display: flex;
        flex-direction: column;


        padding-top: 12px;
      

        @media screen and (min-width: 480px) {
            padding-top: 20px;
        }
    }

    .mobile-menu-logo {

        width: 44.47px;
        height: 37px;
      

        @media screen and (min-width: 480px) {
            width: 48px;
            height: 44px;
        }
    }

    .mobile-nav-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 111px;


        padding-top: 51px;
      

        @media screen and (min-width: 480px) {
            padding-top: 76px;
        }
    }
 
        .mobile-nav-item {
            display: flex;    
    
           &:not(:last-child) {
                margin-bottom: 32px;
            }
               
            @media screen and (min-width: 480px) {
                &:not(:last-child) {
                        margin-bottom: 40px;
                    }                
            }
        }

    .mobile-navigation-link {

        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 32px;
        line-height: 1.23;


        @media screen and (min-width: 480px) {
            font-size: 48px;
        }

        color: var(--text-light);
    }

    .mobile-navigation-link {

        &:focus,
        &:hover {
            color: var(--text-dark);
            transition: color var(--easeInOutBack);
        }
    }
}

@media screen and (min-width: 1200px) {
    .mobile-menu {
        display: none;
    }
}

// Mobile menu button

@media screen and (max-width: 767px) {
    .button__buy-now-mobile {
        @include button();
        background-color: var(--accent-color);
        color: var(--text-dark);
        padding: 12px 34px;
        width: 152px;
        height: 42px;
        gap: 7.23px;

        transition: background-color var(--easeOutCirc), color var(--easeOutCirc);

        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: auto;

        &:hover {
            background-color: var(--button-green);
        }

        &:focus {
            background-color: var(--button-green);
            color: var(--text-light);

            .buy-now-icon {
                fill: var(--text-light);
            }
        }
    }

    .buy-now-icon {
        width: 12px;
        height: 12px;
    }
}

@media screen and (min-width: 767px) {
    .button__buy-now-mobile {
        display: none;
    }
}