@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: var(--green-section-background);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity var(--easeInOutBack), visibility var(--easeInOutBack);

    &.is-open {
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  }

  .mobile-menu__container {
    position: relative;
    padding-left: 40px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 320px) {
      width: 320px;
    }

    @media screen and (min-width: 480px) {
      width: 480px;
    }
  }

  .mobile-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: 0;
    padding: 0;
    line-height: 0;

    &:focus,
    &:hover {
      fill: var(--primary-text-color);
      transition: fill var(--easeInOutBack);
    }
  }

  .mobile-menu__close-icon {
    width: 40px;
    height: 40px;
  }

  .mobile-nav {
    display: flex;
    flex-direction: column;
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .mobile-nav-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;

    color: var(--title-text-color);
  }

  .navigation-link {
    &:focus,
    &:hover {
      color: var(--accent-text-color);
      transition: color var(--easeInOutBack);
    }
  }

  .mobile-nav-list {
    margin-bottom: -32px;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
