@media screen and (max-width: 767px) {
    .products {
        background-image: url(../images/images/products/smart/productsfon-smart.png);
        padding-left: 20px;
        padding-right: 20px;
    }

    .products__list {
        padding-bottom: 60px;
    }
    
    .products__sub-title {
        font-weight: 800;
        font-size: 18px;
        line-height: 1.23;
        text-align: center;
        padding-top: 60px;
        margin-bottom: 12px;
    }

    .products__title {
        font-family: 'Seymour One';
        font-weight: 400;
        font-size: 30px;
        line-height: 1.27;
        text-align: center;
        margin-bottom: 148px;
    }

    .elipse {
        background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
        border: 0.67px none;
        border-radius: 100px;
        box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
        height: 210px;
        width: 200px;
        transform: translateY(-50%);
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;

        &::before {
            content: url(../images/images/products/smart/cream-smart.png);
        }
    }

    .elipse-two {
        background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
        box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
        border: 0.67px none;
        border-radius: 100px;
        height: 210px;
        width: 200px;
        transform: translateY(-50%);
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;

        &::before {
            content: url(../images/images/products/smart/coffee-smart.png);
        }
    }

    .elipse-three {
        background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #D9D9D9;
        box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
        border: 0.67px none;
        border-radius: 100px;
        height: 210px;
        width: 200px;
        transform: translateY(-50%);
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;

        &::before {
            content: url(../images/images/products/smart/milk-smart.png);
        }
    }
    

    .products__list__item {
        background-color: #aec6a5;
        border-radius: 24px;
        width: 280px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 164px;
    }

    .products__list__item__title {
        font-size: 20px;
        line-height: 1.2;
        text-align: center;
        margin-bottom: 40px;
        margin-top: -110px;
    }

    .products__list__item__text {
        font-weight: 400; 
        line-height: 1.78;
        text-align: center;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 90px;
    }

    .products__icecream-button,
    .products__icecoffee-button,
    .products__milkshakes-button {
        cursor: pointer;
        border: none;
        width: 40px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 20px;
        display: block;
        margin-bottom: 20px;
    }

    .products__icecream-button {
        background-color: #aec6a5;
    }

    .products__icecoffee-button {
        background-color: #EFD478;
    }

    .products__milkshakes-button {
        background-color: #D6936D;
    }

    .products__list__item-two {
        background-color: #EFD478;
        border-radius: 24px;
        width: 280px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 164px;
    }

    .products__list__item-three {
        background-color: #D6936D;
        border-radius: 24px;
        width: 280px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-device-pixelratio: 2) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .products {
        background-image: url(../images/images/products/smart/productsfon-smart@2x.png);
    }
}

@media screen and (min-width: 768px) {
    .products {
        background-image: url(../images/images/products/tablet/productsfon-tablet.png);
        margin-left: auto;
        margin-right: auto;
        padding-left: 32px;
        padding-right: 32px;
        width: 100%;
    }

    .products__list {
        padding-bottom: 82px;
        display: flex;
        justify-content: center;
    }

    .products__sub-title {
        font-weight: 800;
        font-size: 22px;
        line-height: 1.23;
        text-align: center;
        padding-top: 60px;
        margin-bottom: 12px;
    }

    .products__title {
        font-family: 'Seymour One';
        font-weight: 400;
        font-size: 34px;
        line-height: 1.27;
        text-align: center;
        letter-spacing: 0.06em;
        margin-bottom: 303px;
    }

    .elipse {
        background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
        border: 0.67px none;
        border-radius: 100px;
        box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
        height: 210px;
        width: 200px;
        transform: translateY(-50%);
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;

        &::before {
            content: url(../images/images/products/smart/cream-smart.png);
        }
    }

    .elipse-two {
        background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
        box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
        border: 0.67px none;
        border-radius: 100px;
        height: 210px;
        width: 200px;
        transform: translateY(-50%);
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;

        &::before {
            content: url(../images/images/products/smart/coffee-smart.png);
        }
    }

    .elipse-three {
        background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #D9D9D9;
        box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
        border: 0.67px none;
        border-radius: 100px;
        height: 210px;
        width: 200px;
        transform: translateY(-50%);
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;

        &::before {
            content: url(../images/images/products/smart/milk-smart.png);
        }
    }


    .products__list__item {
        background-color: #aec6a5;
        border-radius: 24px;
        width: 224px;
        margin-right: 16px;
    }

    .products__list__item__title {
        font-size: 22px;
        line-height: 1.2;
        text-align: center;
        margin-bottom: 40px;
        margin-top: -98px;
    }

    .products__list__item__text {
        font-weight: 400;
        line-height: 1.78;
        text-align: center;
        width: 172px;
        height: 143px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 90px;
    }

    .products__icecream-button,
    .products__icecoffee-button,
    .products__milkshakes-button {
        cursor: pointer;
        border: none;
        width: 40px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 20px;
        display: block;
        margin-bottom: 20px;
    }

    .products__icecream-button {
        background-color: #aec6a5;
    }

    .products__icecoffee-button {
        background-color: #EFD478;
    }

    .products__milkshakes-button {
        background-color: #D6936D;
    }

    .products__list__item-two {
        background-color: #EFD478;
        border-radius: 24px;
        width: 224px;
        margin-right: 16px;
    }

    .products__list__item-three {
        background-color: #D6936D;
        border-radius: 24px;
        width: 224px;
    }
}

@media screen and (min-device-pixelratio: 2) and (min-width: 768px),
screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 7680px) {
    .products {
        background-image: url(../images/images/products/tablet/productsfon-tablet@2x.png);
    }
}


@media screen and (min-width: 1200px) {
    .products {
        background-image: url(../images/images/products/desctop/productsfon-desctop.png);
        margin-left: auto;
        margin-right: auto;
        padding-left: 13px;
        padding-right: 13px;
        width: 100%;
    }

    .products__list {
        padding-bottom: 60px;
        display: flex;
        justify-content: center;
    }
    
    .products__sub-title {
        font-weight: 800;
        font-size: 30px;
        line-height: 1.23;
        text-align: center;
        padding-top: 60px;
        margin-bottom: 12px;
    }

    .products__title {
        font-family: 'Seymour One';
        font-weight: 400;
        font-size: 36px;
        line-height: 1.27;
        text-align: center;
        letter-spacing: 0.06em;
        margin-bottom: 303px;
    }

    .elipse {
        background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
        border: 0.67px none;
        border-radius: 150px;
        box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
        height: 310px;
        width: 300px;
        transform: translateY(-50%);
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;

        &::before {
            content: url(../images/images/products/desctop/cream-desctop.png);
        }
    }

    .elipse-two {
        background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #D9D9D9;
        box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
        border: 0.67px none;
        border-radius: 150px;
        height: 310px;
        width: 300px;
        transform: translateY(-50%);
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;

        &::before {
            content: url(../images/images/products/desctop/coffee-desctop.png);
        }
    }

    .elipse-three {
        background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #D9D9D9;
        box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
        border: 0.67px none;
        border-radius: 150px;
        height: 310px;
        width: 300px;
        transform: translateY(-50%);
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;

        &::before {
            content: url(../images/images/products/desctop/milk-desctop.png);
        }
    }
    

    .products__list__item {
        background-color: #aec6a5;
        border-radius: 24px;
        width: 370px;
        margin-right: 32px;
    }

    .products__list__item__title {
        font-size: 30px;
        line-height: 1.2;
        text-align: center;
        margin-bottom: 40px;
        margin-top: -98px;
    }

    .products__list__item__text {
        font-weight: 400; 
        line-height: 1.78;
        text-align: center;
        width: 246px;
        height: 145px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 90px;
        font-size: 16px;
    }

    .products__icecream-button,
    .products__icecoffee-button,
    .products__milkshakes-button {
        cursor: pointer;
        border: none;
        width: 40px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 20px;
        display: block;
        margin-bottom: 20px;
    }

    .products__icecream-button {
        background-color: #aec6a5;
    }

    .products__icecoffee-button {
        background-color: #EFD478;
    }

    .products__milkshakes-button {
        background-color: #D6936D;
    }

    .products__list__item-two {
        background-color: #EFD478;
        border-radius: 24px;
        width: 370px;
        margin-right: 32px;
    }

    .products__list__item-three {
        background-color: #D6936D;
        border-radius: 24px;
        width: 370px;
    }
}

@media screen and (min-device-pixelratio: 2) and (min-width: 1200px),
screen and (min-resolution: 192dpi) and (min-width: 1200px),
screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .products {
        background-image: url(../images/images/products/desctop/productsfon-desctop@2x.png);
    }
}