.reviews__testimonials {
    padding: 34px 39px;
    background: var(--green-section-background);
    border-radius: 24px;
    margin-top: 32px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 255%;
    color: var(--text-light);

    @media screen and (min-width: 768px) {
        font-weight: 500;
        font-size: 16px;
        line-height: 186%;      
        letter-spacing: 0.04em;
        padding: 28px 80px;
    }

    @media screen and (min-width: 1200px) {
        padding: 39px 109px;
        max-width: 968px;
        margin-left: auto;
        margin-right: auto;
    }
}

.reviews__testimonials-name {
        font-weight: 500;
        font-size: 20px;
        line-height: 186%;
        text-align: center;
        color: var(--text-dark);

    @media screen and (min-width: 768px) {
        font-size: 16px;
           
    }
}

.reviews__testimonials-img {
    margin: 0 auto;
}